@{
    Layout = "~/Views/Shared/_EntranceLayout.cshtml";
}

<section class="d-flex flex-row flex-fill align-items-center">
    <div class="d-flex fill-even justify-content-center">

        @RenderBody()

    </div>

    <div id="loginImage" class="d-none d-md-flex fill-even h-100">

    </div>
</section>

@section scripts
{
    @Scripts.Render("~/Scripts/contact-form.validation.js")
}
