@{
    Layout = "~/Views/Shared/_HeadingLayout.cshtml";
}

    <nav class="flex-row navbar navbar-dark bg-primary navbar-expand-lg">
        @Html.ActionLink("BIKEVISION", "Index", "Home", new { area = "" }, new { @class = "px-0 navbar-brand nav-link" })
        <button class="navbar-toggler" title="menu" type="button" data-toggle="collapse" data-target="#navbarMainNavigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Navigation -->
        @Html.Partial("_NavbarPartial")
    </nav>

@RenderBody()

<footer class="py-2 bg-dark text-white text-center text-size-very-small">
    &copy;Copyright 2019 - BIKEVISION
</footer>

@section scripts
{
    @RenderSection("scripts", required: false)
}
