@* // Plik, ktory sprawdza czy jestesmy zalogowani. Jesli tak wyswietla nazwe. Jesli nie - odnosniki do logowania i rejestracji *@


@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li>
                @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
        </ul>
    }
}
else
{
    /* Big devices */
    <ul class="d-none d-lg-block nav navbar-nav ml-auto">
        <li class="dropdown order-1">
            <button type="button" id="dropdownMenu1" data-toggle="dropdown" class="btn btn-outline-info dropdown-toggle"><i class="fas fa-user small-icon mr-1"></i> Twoje konto <span class="caret"></span></button>
            <ul class="dropdown-menu dropdown-menu-right bg-dark mt-2">
                <li class="nav-item mr-0">
                    @Html.Raw(Html.ActionLink("ToReplace", "SignUp"/*SignUp*/, "Account", new { area = "" }, new { @class = "nav-link hover-bg" }).ToHtmlString().Replace("ToReplace", "<span><i class=\"fas fa-user-circle small-icon mr-1\"></i> Zarejestruj się </span>"))
                </li>
                <li class="nav-item mr-0">
                    @Html.Raw(Html.ActionLink("ToReplace", "Login"/*Logined*/, "Account", new { area = "" }, new { @class = "nav-link hover-bg" }).ToHtmlString().Replace("ToReplace", "<span><i class=\"fas fa-sign-in-alt small-icon mr-1\"></i> Zaloguj </span>"))
                </li>
            </ul>
        </li>
    </ul>
}
