@* // Plik, ktory sprawdza czy jestesmy zalogowani. Jesli tak wyswietla nazwe. Jesli nie - odnosniki do logowania i rejestracji *@


@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li>
                @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
        </ul>
    }
}
else
{   /* Small devices */
    <li class="nav-item d-lg-none">
        @Html.ActionLink("Zaloguj", "Login", "Account", new { area = "" }, new { @class = "nav-link" })
    </li>
    <li class="nav-item d-lg-none">
        @Html.ActionLink("Zarejestruj się", "SignUp", "Account", new { area = "" }, new { @class = "nav-link" })
    </li>
}

