@model bikevision.Models.Item

    <div class="shopping-card">
        <div class="shopping-card__content shopping-card__content--wider">
            <div class="shopping-card__main-column">
                @Html.Partial("_CardContent", (bikevision.Models.Item)Model)
            </div>
            <div class="d-none d-lg-block shopping-card__gallery-column">
                <a href="@Url.Action("Product", "Shop")">
                    <img class="shopping-card__gallery-image" src="~/Content/Images/Shop/siodelko_2.jpg" />
                </a>
                <a href="@Url.Action("Product", "Shop")">
                    <img class="shopping-card__gallery-image" src="~/Content/Images/Shop/siodelko_1.jpg" />
                </a>
                <a href="@Url.Action("Product", "Shop")">
                    <img class="shopping-card__gallery-image" src="~/Content/Images/Shop/siodelko_2.jpg" />
                </a>
            </div>
        </div>
    </div>
