@{
    Layout = "~/Views/Shared/_HeadingLayout.cshtml";

    /* 
    
    TO-DO:
    -Change classes to BEM convention
    -Change dropdown-menus (style and colors)
    -Add items carousel
    -Whole colors (texts, buttons, bg's)
    -Content to menus

    */
}

<nav class="container-fluid navbar navbar-dark">
    <div class="text-center order-1 order-md-2 col-12 col-md-4 mb-2 mb-md-0">
        @Html.ActionLink("BIKEVISION", "Index", "Home", new { area = "" }, new { @class = "p-2 navbar-brand nav-link border text-light border-light" })
    </div>
    <div class="text-right order-2 order-md-1 col-6 col-md-4 mt-2 mt-md-0">
        <form action="">
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text bg-transparent"><i class="fas fa-search"></i></div>
                </div>
                <input type="text" class="form-control border-0 bg-dark" placeholder="Wyszukiwanie frazą">
            </div>
        </form>
    </div>
    <div class="order-3 col-6 col-md-4 mt-2 mt-md-0">
        <ul class="nav justify-content-end">
            <li class="nav-item">
                <a href="#" class="nav-link p-1 text-light"><i class="fas fa-shopping-cart pr-2 small-icon"></i></a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link p-1 text-light"><i class="fas fa-heart px-2 small-icon"></i></a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link p-1 text-light"><i class="fas fa-user-alt px-2 pl-md-2 px-md-0 small-icon"></i></a>
            </li>
            <li class="nav-item d-md-none ml-md-0 text-center">
                <a href="#" class="nav-link p-1 text-light" data-toggle="collapse" data-target="#navbarShopNavigation"><i class="fas fa-bars pl-2 pl-md-0 small-icon"></i></a>
            </li>
        </ul>
    </div>
</nav>

<nav class="container-fluid flex-row navbar navbar-expand-md navbar-dark py-0 py-md-3">
    <div class="collapse navbar-collapse" id="navbarShopNavigation">
        <ul id="shopMenu" class="navbar-nav text-left mr-auto py-3 py-md-0">
            <li class="nav-item dropdown menu-area">
                <a class="nav-link dropdown-toggle" id="mega-bikes" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                    Rowery
                </a>
                <div class="dropdown-menu mega-area dropdown-menu-squared" aria-labelledby="mega-bikes">
                    <div class="row px-md-5">
                        <div class="col-md-4">
                            <h5 class="dropdown-header">Rowery według przeznaczenia</h5>
                            <a class="dropdown-item" href="#">MTB <i class="fas fa-chevron-right"></i></a>
                            <a class="dropdown-item" href="#">Enduro <i class="fas fa-chevron-right"></i></a>
                            <a class="dropdown-item" href="#">Freeride <i class="fas fa-chevron-right"></i></a>
                            <a class="dropdown-item" href="#">Downhill <i class="fas fa-chevron-right"></i></a>
                            <a class="dropdown-item" href="#">Miejskie <i class="fas fa-chevron-right"></i></a>
                            <a class="dropdown-item" href="#">Dirt jump/BMX <i class="fas fa-chevron-right"></i></a>
                            <a class="dropdown-item" href="#">Trekkingowe/Cross <i class="fas fa-chevron-right"></i></a>
                            <a class="dropdown-item" href="#">Szosowe <i class="fas fa-chevron-right"></i></a>
                            <a class="dropdown-item" href="#">Dziecięce <i class="fas fa-chevron-right"></i></a>
                        </div>
                        <div class="col-md-4">
                            <h5 class="dropdown-header">Rowery według marek</h5>
                            <a class="dropdown-item" href="#">Giant <i class="fas fa-chevron-right"></i></a>
                            <a class="dropdown-item" href="#">Kross <i class="fas fa-chevron-right"></i></a>
                            <a class="dropdown-item" href="#">Cube <i class="fas fa-chevron-right"></i></a>
                            <a class="dropdown-item" href="#">Merida <i class="fas fa-chevron-right"></i></a>
                            <a class="dropdown-item" href="#">Arkus &Aacute; Romet <i class="fas fa-chevron-right"></i></a>
                            <a class="dropdown-item" href="#">Author <i class="fas fa-chevron-right"></i></a>
                            <a class="dropdown-item" href="#">Dartmoor <i class="fas fa-chevron-right"></i></a>
                            <a class="dropdown-item" href="#">NS Bikes <i class="fas fa-chevron-right"></i></a>
                            <a class="dropdown-item" href="#">Kellys <i class="fas fa-chevron-right"></i></a>
                            <a class="dropdown-item" href="#">Specialized <i class="fas fa-chevron-right"></i></a>
                        </div>
                        <div class="col-md-4">
                            <h5 class="dropdown-header">Rowery według wielkości kół</h5>
                            <a class="dropdown-item" href="#">15" <i class="fas fa-chevron-right"></i></a>
                            <a class="dropdown-item" href="#">20" <i class="fas fa-chevron-right"></i></a>
                            <a class="dropdown-item" href="#">24" <i class="fas fa-chevron-right"></i></a>
                            <a class="dropdown-item" href="#">26" <i class="fas fa-chevron-right"></i></a>
                            <a class="dropdown-item" href="#">27.5" <i class="fas fa-chevron-right"></i></a>
                            <a class="dropdown-item" href="#">29" <i class="fas fa-chevron-right"></i></a>
                        </div>
                    </div>
                </div>
                <!-- <div class="dropdown-menu dropdown-menu-squared">
                    <h5 class="dropdown-header">Rowery według przeznaczenia</h5>
                    <a class="dropdown-item" href="#">Górskie <i class="fas fa-chevron-right"></i></a>
                    <a class="dropdown-item" href="#">Miejskie <i class="fas fa-chevron-right"></i></a>
                    <div class="dropdown-divider"></div>
                    <h5 class="dropdown-header">Rowery według marek</h5>
                    <a class="dropdown-item" href="#">Giant <i class="fas fa-chevron-right"></i></a>
                    <a class="dropdown-item" href="#">Kross <i class="fas fa-chevron-right"></i></a>
                </div> -->
            </li>

            <li class="nav-item dropdown menu-area">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="mega-parts" role="button" aria-haspopup="true" aria-expanded="false">
                    Części
                </a>
                <div class="dropdown-menu mega-area dropdown-menu-squared" aria-labelledby="mega-parts">
                    <div class="col">
                        <h3 class="dropdown-header text-center">Części rowerowe</h3>
                        <div class="row px-md-5">
                            <div class="col-md-4">
                                <a class="dropdown-item" href="#">Kierownice <i class="fas fa-chevron-right"></i></a>
                                <a class="dropdown-item" href="#">Mostki <i class="fas fa-chevron-right"></i></a>
                                <a class="dropdown-item" href="#">Hamulce <i class="fas fa-chevron-right"></i></a>
                                <a class="dropdown-item" href="#">Przerzutki <i class="fas fa-chevron-right"></i></a>
                                <a class="dropdown-item" href="#">Tarcze hamuclowe <i class="fas fa-chevron-right"></i></a>
                                <a class="dropdown-item" href="#">Klocki hamulcowe <i class="fas fa-chevron-right"></i></a>
                                <a class="dropdown-item" href="#">Koła <i class="fas fa-chevron-right"></i></a>
                                <a class="dropdown-item" href="#">Szprychy <i class="fas fa-chevron-right"></i></a>
                                <a class="dropdown-item" href="#">Siodła <i class="fas fa-chevron-right"></i></a>
                            </div>
                            <div class="col-md-4">
                                <a class="dropdown-item" href="#">Zaciski hamulców <i class="fas fa-chevron-right"></i></a>
                                <a class="dropdown-item" href="#">Zaciski siodła <i class="fas fa-chevron-right"></i></a>
                                <a class="dropdown-item" href="#">Zębatki <i class="fas fa-chevron-right"></i></a>
                                <a class="dropdown-item" href="#">Korby <i class="fas fa-chevron-right"></i></a>
                                <a class="dropdown-item" href="#">Przewody hamuclowe <i class="fas fa-chevron-right"></i></a>
                                <a class="dropdown-item" href="#">Gripy <i class="fas fa-chevron-right"></i></a>
                                <a class="dropdown-item" href="#">Linki <i class="fas fa-chevron-right"></i></a>
                                <a class="dropdown-item" href="#">Nyple <i class="fas fa-chevron-right"></i></a>
                                <a class="dropdown-item" href="#">Obręcze <i class="fas fa-chevron-right"></i></a>
                            </div>
                            <div class="col-md-4">
                                <a class="dropdown-item" href="#">Dętki <i class="fas fa-chevron-right"></i></a>
                                <a class="dropdown-item" href="#">Opony <i class="fas fa-chevron-right"></i></a>
                                <a class="dropdown-item" href="#">Ramy <i class="fas fa-chevron-right"></i></a>
                                <a class="dropdown-item" href="#">Śruby mocujące <i class="fas fa-chevron-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="mega-accessories" role="button" aria-haspopup="true" aria-expanded="false">
                    Akcesoria
                </a>
                <div class="dropdown-menu mega-area dropdown-menu-squared" aria-labelledby="mega-accessories">
                    <div class="col">
                        <h3 class="dropdown-header text-center">Akcesoria rowerowe</h3>
                        <div class="row px-md-5">
                            <div class="col-md-4">
                                <a class="dropdown-item" href="#">Lampki <i class="fas fa-chevron-right"></i></a>
                                <a class="dropdown-item" href="#">Odblaski <i class="fas fa-chevron-right"></i></a>
                            </div>
                            <div class="col-md-4">
                                <a class="dropdown-item" href="#">Bagażniki rowerowe <i class="fas fa-chevron-right"></i></a>
                                <a class="dropdown-item" href="#">Wózki i foteliki <i class="fas fa-chevron-right"></i></a>
                            </div>
                            <div class="col-md-4">
                                <a class="dropdown-item" href="#">Dętki <i class="fas fa-chevron-right"></i></a>
                                <a class="dropdown-item" href="#">Opony <i class="fas fa-chevron-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                    Odzież
                </a>
                <div class="dropdown-menu dropdown-menu-squared">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Separated link</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                    Narzędzia
                </a>
                <div class="dropdown-menu dropdown-menu-squared">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Separated link</a>
                </div>
            </li>

            <li class="nav-item">
                @Html.ActionLink("Nowości", "Contact", "Home", new { area = "" }, new { @class = "nav-link" })
            </li>

            <li class="nav-item">
                @Html.ActionLink("Promocje", "Contact", "Home", new { area = "" }, new { @class = "nav-link" })
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                    Strefa marek
                </a>
                <div class="dropdown-menu dropdown-menu-squared">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Separated link</a>
                </div>
            </li>
        </ul>
    </div>
</nav>

@RenderBody()

<section>
    <p> Karuzela produktów w promocji </p>
</section>

<section>
    <p> Karuzela produktów najnowszych </p>
</section>

<section>
    <p> Karuzela produktów popularnych </p>
</section>

<section>
    <p> Newsletter </p>
</section>

<footer class="flex-row bg-dark text-light text-center">
    <p> Footer </p>
</footer>

@section scripts
{
}
