@{
    Layout = "~/Views/Shared/_EntranceLayout.cshtml";
}

<nav>
    <p> Nawigacja po produktach </p>
</nav>

@RenderBody()

<section>
    <p> Karuzela produktów w promocji </p>
</section>

<section>
    <p> Karuzela produktów najnowszych </p>
</section>

<section>
    <p> Karuzela produktów popularnych </p>
</section>

<section>
    <p> Newsletter </p>
</section>

@section scripts
{
}
