@model bikevision.Models.Customer
@{
    ViewBag.Title = "Dane personalne";
    Layout = "~/Views/Shared/_ServiceLayout.cshtml";
}

<h2>Uzupełnij dane personalne</h2>

@using (Html.BeginForm("AddPersonalData", "Service"))
{
    @Html.AntiForgeryToken()

    @Html.Partial("_CheckData", Model)
}