@model bikevision.Models.RegisterViewModel
@{
    ViewBag.Title = "Zarejestruj się";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}
    <div class="card bg-transparent border-0">
        <header class="card-header bg-transparent border-light p-3">
            <h2> Rejestracja </h2>
        </header>

        <section class="card-body bg-transparent p-3">
            @*<form method="post" class="d-flex flex-column">*@
            @using (Html.BeginForm("SignUp", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "d-flex flex-column", role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.Partial("_RegistrationForm", Model)
            }
            @*</form>*@
        </section>

        @*@Html.ActionLink("Zarejestruj się", "AddUser", "Account", new { area = "" }, new { @class = "nav-link" })*@

        <footer class="card-footer bg-transparent border-light p-3"></footer>

        @Html.ValidationSummary("", new { @class = "text-danger" })

        <div id="validation-errors-container" class="form-error alert alert-danger d-none">
            <strong> Nieprawidłowe dane w formularzu! </strong>
            <ul id="errorList">
                <li class="d-none" id="emailErrorListElement"> Bledny email </li>
                @*<li class="d-none" id="loginErrorListElement"> Bledny login </li>*@
                <li class="d-none" id="passwordErrorListElement"> Bledne haslo </li>
                <li class="d-none" id="repeatPasswordErrorListElement"> Bledne powtorne haslo </li>
                <li class="d-none" id="termsErrorListElement"> Zaznacz ragulamin </li>
                <li class="d-none" id="privacyPolicyErrorListElement"> Zaznacz zgode </li>
            </ul>
        </div>
    </div>


@section scripts
{
    @Scripts.Render("~/Scripts/Form validators/registration-form.validation.js")
}