/* Shoppping cards */

.shopping-card {
    position: relative;
    float: left;
    /* width: 350px; */
    width: calc(calc(100% / 4) - 10px);
    /*height: 450px;*/
    height: 0;
    padding-bottom: calc(calc(100% / 4) + 60px);
    margin: 5px 5px;
    z-index: 1;
}

.shopping-card__content {
    width: 100%;
    height: calc(100% - 10px);
    position: absolute;
    top: 0;
    left: 0;
    transition: .5s ease;
    background-color: white;
    color: black;
    clear: both;
    overflow: hidden;
    border: 1px solid gray;
}

.shopping-card__main-content {
    /* width: 340px; */
    width: 100%;
    /*height: 440px;*/
    height: 100%;
    padding: 5px;
}

.shopping-card__banner {
    position: absolute;
    top: 5px;
    right: 10px;
    z-index: 2;
}

.shopping-card__image {
    width: 75%;
    margin: 0 auto;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.shopping-card__title {
    font-weight: 900;
    color: black;
}

.shopping-card__subtitle {
    color: black;
}

.shopping-card__underline {
    width: 100%;
    border: 1px solid black;
    margin: 0 auto;
}

.shopping-card__footer {
    margin-top: 5px;
    width: 100%;
}

.shopping-card__price {
    float: left;
    /*width: 68%;*/
    margin-right: 5px;
    height: 100%;
    font-size: 24px;
    font-weight: 900;
    color: #0066bb;
}

.shopping-card__discount {
    float: left;
    /*width: 42%;*/
    height: 100%;
    font-size: 16px;
    text-decoration: line-through;
    color: gray;
}

.shopping-card__hidden-button {
    position: absolute;
    bottom: 40%;
    left: 50%;
    width: 150px;
    transform: translateX(-50%);
}

/* For Bootstrap 4 'default' and 'sm'  breakpoint */
@media (min-width: 0px) {

    .shopping-card {
        width: calc(calc(100% / 2) - 10px);
        height: 0;
        padding-bottom: calc(calc(100% / 2) + 60px);
    }
}

/* For Bootstrap 4 'sm' breakpoint */
@media (min-width: 576px) {
}

/* For Bootstrap 4 'md' breakpoint */
@media (min-width: 768px) {
    .shopping-card {
        width: calc(calc(100% / 2) - 10px);
        height: 0;
        padding-bottom: calc(calc(100% / 2) + 60px);
    }
}

/* For Bootstrap 4 'lg' breakpoint */
@media (min-width: 992px) {
    .shopping-card {
        width: calc(calc(100% / 2) - 10px);
        height: 0;
        padding-bottom: calc(calc(100% / 2) + 60px);
    }

        .shopping-card:hover {
            z-index: 3;
        }

            .shopping-card:hover > .shopping-card__content {
                width: 100%;
                /*height: 550px;*/
                height: calc(100% + 100px);
                box-shadow: rgba(0,0,0,.5) 5px 5px 15px;
                transition: .5s ease;
            }

            .shopping-card:hover .shopping-card__main-content {
                height: calc(100% - 110px);
                transition: .5s ease;
            }

            .shopping-card:hover > .shopping-card__content--wider {
                width: calc(100% + 100px);
                transition: .5s ease;
            }

                .shopping-card:hover > .shopping-card__content--wider > .shopping-card__main-column {
                    width: calc(100% - 110px);
                    transition: .5s ease;
                }

    .shopping-card__main-column {
        /* width: 340px; */
        width: calc(100% - 10px);
        height: calc(100% - 10px);
        transition: .5s ease;
        position: absolute;
        left: 5px;
        top: 5px;
    }

    .shopping-card__hidden-content {
        width: 100%;
        height: 105px;
        position: relative;
        top: 5px;
        left: 0;
    }

    .shopping-card__cart-button {
        width: calc(100% - 4px);
        height: calc(50% - 4px);
        margin: 2px;
    }

    .shopping-card__additional-buttons {
        width: 100%;
        height: 50%;
        padding: 2px;
    }

    .shopping-card__additional-button {
        float: left;
        width: calc(50% - 1px);
        height: 100%;
    }
    
    .shopping-card__additional-button:last-child {
        margin-left: 2px;
    }

    .shopping-card__gallery-column {
        width: 95px;
        height: calc(100% - 10px);
        /*height: 540px;*/
        position: absolute;
        border-left: 1px solid darkgrey;
        padding: 5px;
        left: 100%;
        transition: .5s ease;
        top: 5px;
    }

        .shopping-card:hover .shopping-card__gallery-column {
            left: calc(100% - 100px);
            transition: .5s ease;
        }

        .shopping-card__gallery-image {
            width: 100%;
            height: auto;
        }
}

/* For Bootstrap 4 'xl' breakpoint */
@media (min-width: 1200px) {
    .shopping-card {
        width: calc(calc(100% / 3) - 10px);
        height: 0;
        padding-bottom: calc(calc(100% / 3) + 60px);
    }
}

/* For width bigger than 1600 */
@media (min-width: 1600px) {
    .shopping-card {
        width: calc(calc(100% / 4) - 10px);
        height: 0;
        padding-bottom: calc(calc(100% / 4) + 60px);
    }
}