html, body {
    padding: 0;
    margin: 0;
    height: 100%;
}

.small-icon {
    font-size: 16px !important;
}

.medium-icon {
    font-size: 32px !important;
}

.big-icon {
    font-size: 64px !important;
}

.social-icon {
    position: absolute;
    right: 0px;
    top: -50px;
}

.shop-icon-border {
    border: solid 1px rgba(255, 255, 255, 0.6);
    border-radius: 8px;
}

.form-control#name, .form-control#email {
    padding-right: 27px;
}

.card-header .material-icons {
    transition: .3s transform ease-in-out;
}

.card-header .collapsed .material-icons {
    transform: rotate(90deg);
}

.form-control {
    border: 2px solid #444;
}

select.error, select.valid {
    background-position: right 15px center;
    background-repeat: no-repeat;
}

.input-group-addon {
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: #555;
    text-align: center;
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.max-height-500 {
    max-height: 500px;
}

.image-carousel-responsivity {
    max-width: 100%;
    width: auto;
    height: auto;
}

.min-height-500 {
    min-height: 500px;
}

.font-weight-600 {
    font-weight: 600 !important;
}

.font-weight-900 {
    font-weight: 900 !important;
}

.bg-red {
    background-color: #ff0000;
}

.bg-black {
    background-color: #000000;
}

.bg-grey {
    background-color: #404040;
}

.bg-darkgrey {
    background-color: #202020;
}

.bg-darkred {
    background-color: #4a0404;
}

.fill-even {
    flex: 1 1 0;
}

.font-raleway {
    font-family: 'Raleway', sans-serif;
}

.font-size-big {
    font-size: 64px;
}

.text-size-small {
    font-size: 16px;
}

.text-size-medium {
    font-size: 32px;
}

.text-size-big {
    font-size: 64px;
}

.dropdown-menu-squared {
    border: none;
    border-radius: 0;
}

.menu-area {
    position: static;
}

.mega-area {
    position: absolute;
    width: 100%;
    top: 68px;
    left: 0;
    right: 0;
    padding: 15px;
    background-color: #333;
}

.text-over-img {
    position: absolute;
    top: 75%;
    left: 35%;
    transform: translate(-15%, -75%);
}

/* Elements with IDs */
div#loginImage {
    background-image: url('Images/wallpaper_rocks_bike(low-res).jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

div#helpImage {
    position: relative;
    display: inline-block;
}

h1#helpHeader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50% );
    text-align: center;
}

/* For Bootstrap 4 'default' breakpoint */
@media (max-width: 575.98px) {
}

/* For Bootstrap 4 'sm' breakpoint */ 
@media (min-width: 576px) {
    ul#shopMenu > li {
        border-bottom: 1px solid #303030;
    }

    ul#shopMenu > li:last-child {
        border-bottom: none;
    }
}

/* For Bootstrap 4 'md' breakpoint */ 
@media (min-width: 768px) {
    .text-size-md-big {
        font-size: 64px;
    }

    ul#shopMenu > li {
        border-bottom: none;
    }
}

/* For Bootstrap 4 'lg' breakpoint */ 
@media (min-width: 992px) {
    
}

/* For Bootstrap 4 'xl' breakpoint */ 
@media (min-width: 1200px) {

}

/* For width bigger than 1600 */ 
@media (min-width: 1600px) {
    .container--big {
        max-width: 1540px;
    }
}



/*                                */


.product-image5 .pic-1, .product-image5 .pic-2 {
    backface-visibility: hidden;
    transition: all .5s ease 0s
}

.product-grid5 {
    font-family: Poppins,sans-serif;
    position: relative
}
    .product-grid5:hover {
        background-color: #eee;
        box-shadow: 0 0 10px rgba(0, 0, 0, .75);
        transition: all .5s ease 0s;
    }
        

        .product-grid5 .product-image5 {
            overflow: hidden;
            position: relative
        }

        .product-grid5 .product-image5 a {
            display: block
        }

        .product-grid5 .product-image5 img {
            width: 100%;
            height: auto
        }

    .product-grid5:hover .product-image5 img {
        transform: scale(1.1)
    }

.product-image5 .pic-1 {
    opacity: 1
}

.product-grid5:hover .product-image5 .pic-1 {
    opacity: 0
}

.product-image5 .pic-2 {
    width: 100%;
    height: 100%;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0
}

.product-grid5:hover .product-image5 .pic-2 {
    opacity: 1
}

.product-grid5 .social {
    padding: 0;
    margin: 0;
    position: absolute;
    top: 10px;
    right: 10px
}

    .product-grid5 .social li {
        display: block;
        margin: 0 0 10px;
        transition: all .5s
    }

        .product-grid5 .social li:nth-child(2) {
            opacity: 0;
            transform: translateY(-50px)
        }

.product-grid5:hover .social li:nth-child(2) {
    opacity: 1;
    transform: translateY(0)
}

.product-grid5 .social li:nth-child(3) {
    opacity: 0;
    transform: translateY(-50px)
}

.product-grid5:hover .social li:nth-child(3) {
    opacity: 1;
    transform: translateY(0);
    transition-delay: .2s
}

.product-grid5 .social li a {
    color: #888;
    background: #fff;
    font-size: 14px;
    text-align: center;
    line-height: 40px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: block;
    transition: .5s ease 0s
}

    .product-grid5 .social li a:hover {
        color: #fff;
        background: #0081c2
    }

.product-grid5 .select-options {
    color: #777;
    background-color: #fff;
    font-size: 13px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    padding: 15px 5px;
    margin: 0 auto;
    opacity: 0;
    display: block;
    position: absolute;
    width: 92%;
    left: 0;
    bottom: -100px;
    right: 0;
    transition: .5s ease 0s
}

    .product-grid5 .select-options:hover {
        color: #fff;
        background-color: #0081c2;
        text-decoration: none
    }

.product-grid5:hover .select-options {
    opacity: 1;
    bottom: 10px
}

.product-grid5 .product-content {
    padding: 20px 10px
}

.product-grid5 .title {
    font-size: 15px;
    font-weight: 600;
    text-transform: capitalize;
    margin: 0 0 10px;
    transition: all .3s ease 0s
}

.product-grid5:hover .product-content .title a {
    color: black !important;
    transition: all .5s ease 0s;
}

.product-grid5 .price {
    color: #0081c2;
    font-size: 17px;
    font-weight: 700;
    margin: 0 2px 15px 0;
    display: block
}

    .product-grid5 .price span {
        color: #909090;
        font-size: 13px;
        font-weight: 400;
        letter-spacing: 0;
        text-decoration: line-through;
        text-align: left;
        vertical-align: middle;
        display: inline-block
    }

.product-grid5 .product-discount-label {
    display: block;
    padding: 4px 30px 4px 15px;
    color: #fff;
    background-color: #0081c2;
    position: absolute;
    top: 10px;
    left: 0;
    -webkit-clip-path: polygon(0 0,65% 0,100% 100%,0 100%);
    clip-path: polygon(0 0,65% 0,100% 100%,0 100%)
}






@media only screen and (max-width:990px) {
    .product-grid5 {
        margin-bottom: 30px
    }
}


/*                                */



/* Rename classes \\// */


@media screen and (min-width: 768px) {
    .carousel-inner .active,
    .carousel-inner .active + .carousel-item {
        display: block;
    }

    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item {
        -webkit-transition: none;
        transition: none;
    }

    .carousel-inner .carousel-item-next,
    .carousel-inner .carousel-item-prev {
        position: relative;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    .carousel-inner .active.carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: absolute;
        top: 0;
        right: -50%;
        z-index: -1;
        display: block;
        visibility: visible;
    }
    /* left or forward direction */
    .active.carousel-item-left + .carousel-item-next.carousel-item-left,
    .carousel-item-next.carousel-item-left + .carousel-item {
        position: relative;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    /* farthest right hidden item must be abso position for animations */
    .carousel-inner .carousel-item-prev.carousel-item-right {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        display: block;
        visibility: visible;
    }
    /* right or prev direction */
    .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
    .carousel-item-prev.carousel-item-right + .carousel-item {
        position: relative;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }
}



.MultiCarousel {
    float: left;
    overflow: hidden;
    padding: 15px;
    width: 100%;
    position: relative;
}

    .MultiCarousel .MultiCarousel-inner {
        transition: 1s ease all;
        float: left;
    }

        .MultiCarousel .MultiCarousel-inner .item {
            float: left;
        }

            .MultiCarousel .MultiCarousel-inner .item > div {
                text-align: center;
                margin: 0px 15px;
            }

    .MultiCarousel .leftLst, .MultiCarousel .rightLst {
        position: absolute;
        border-radius: 50%;
        top: calc(50% - 20px);
    }

    .MultiCarousel .leftLst {
        left: 0;
    }

    .MultiCarousel .rightLst {
        right: 0;
    }

        .MultiCarousel .leftLst.over, .MultiCarousel .rightLst.over {
            pointer-events: none;
            background: #ccc;
        }


.floating-button {
    width: 200px;
    position: fixed;
    left: calc(50% - 100px);
    bottom: 10px;
}