/*  Single property classes  */

.bg-semi-light { background-color: #f0f0f0 !important;}

.small-icon { font-size: 16px !important;}

.big-icon {font-size: 64px !important;}

.form-control#name, .form-control#email {padding-right: 27px;}

.form-control {border: 2px solid #444;}

.fill-even {flex: 1 1 0;}

.text-size-very-small {font-size: 10px;}

.text-size-small {font-size: 16px;}

.text-size-medium {font-size: 32px;}

.text-size-big {font-size: 64px;}

.fill-even {flex: 1 1 0;}

.text-size-very-small {font-size: 10px;}

.text-size-small {font-size: 16px;}

.text-size-medium {font-size: 32px;}

.text-size-big {font-size: 64px;}

.border-bottom--black {border-bottom: 1px solid black;}

/*  End single property classes  */

/*  Main HTML elements  */

html, body {
    padding: 0;
    margin: 0;
    height: 100%;
}

/*  End main HTML elements  */


/*  Random classes  */

.rotate {
    -moz-transition: all .25s linear;
    -webkit-transition: all .25s linear;
    transition: all .25s linear;
}

    .rotate.down {
        -moz-transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }

.social-icon {
    position: absolute;
    right: 0px;
    top: -50px;
}

select.error, select.valid {
    background-position: right 15px center;
    background-repeat: no-repeat;
}

.max-height-500 {
    max-height: 500px;
}

.image-carousel-responsivity {
    max-width: 100%;
    width: auto;
    height: auto;
}
.dropdown-menu-squared {
    border: none;
    border-radius: 0;
}

.menu-area {
    position: static;
}

.mega-area {
    position: absolute;
    width: 100%;
    top: 68px;
    left: 0;
    right: 0;
    padding: 15px;
}

/*  End random classes  */


/*  Elements with IDs  */

div#loginImage {
    background-image: url('Images/wallpaper_rocks_bike(low-res).jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

div#helpImage {
    position: relative;
    display: inline-block;
}

h1#helpHeader {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate( -50%, -50% );
    text-align: center;
    text-shadow: 4px 4px 8px black;
}

a#service-link {
    background-image: url('Images/Service/service_07 (cropped).jpg');
    transition: all .35s ease 0s;
    z-index: 1;
}

    a#service-link:hover {
        background-image: url('Images/Service/service_04.jpg');
        transition: all .35s ease 0s;
        z-index: 2;
    }

a#shop-link {
    background-image: url('Images/Shop/shop_04.jpg');
    transition: all .35s ease 0s;
    z-index: 1;
}

    a#shop-link:hover {
        background-image: url('Images/Shop/shop_06.jpg');
        transition: all .35s ease 0s;
        z-index: 2;
    }

/*  End elements with IDs  */


/*  Media queries  */

    /*  For Bootstrap 4 'default' and 'sm'  breakpoint  */
    @media (min-width: 0px) {
        .border-top--black {
            border-top: 1px solid black;
        }

        .hidden-x {
            overflow-x: hidden;
        }

        .right-column {
            width: 100%;
        }

        ul#shopMenu > li {
            border-bottom: 1px solid #303030;
        }

            ul#shopMenu > li:last-child {
                border-bottom: none;
            }

        .show-overlay::after {
            content: "";
            z-index: 4;
            display: block;
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: rgba(0, 0, 0, 0.5);
            transition: .3s ease;
        }

        .left-column {
            position: fixed;
            top: 0px;
            right: -100%;
            z-index: 5;
            min-width: 250px;
            width: 40%;
            height: 100%;
            overflow-y: scroll;
            overflow-x: hidden;
            transition: .3s ease;
        }

            .left-column.show-menu {
                right: 0px;
                transition: .3s ease;
            }

        .product-left-column {
            width: 100%;
        }

        .product-right-column {
            width: 100%;
        }
    }

    /*  For Bootstrap 4 'default' breakpoint  */
    @media (max-width: 575.98px) {
    }

    /*  For Bootstrap 4 'sm' breakpoint  */
    @media (min-width: 576px) {
    }

    /*  For Bootstrap 4 'md' breakpoint  */ 
    @media (min-width: 768px) {
        .border-top--black {
            border-top: none;
        }
        .text-size-md-big {
            font-size: 64px;
        }

        ul#shopMenu > li {
            border-bottom: none;
        }
    }

    /*  For Bootstrap 4 'lg' breakpoint  */ 
    @media (min-width: 992px) {
        .right-column {
            width: 65%;
        }

        .border-right-lg--black {
            border-right: 1px solid black;
        }

        .left-column {
            width: 35%;
            position: unset;
            overflow: hidden;
            z-index: 0;
        }

        .hover-bg:hover {
            background-color: white;
            color: black !important;
            transition: all .25s ease;
        }

        .product-left-column {
            width: 60%;
            margin-right: 15px;
        }

        .product-right-column {
            width: 40%;
        }
    }

    /*  For Bootstrap 4 'xl' breakpoint  */ 
    @media (min-width: 1200px) {
        .right-column {
            width: 75%;
        }

        .left-column {
            width: 25%;
        }
    }

    /*  For width bigger than 1600  */ 
    @media (min-width: 1600px) {
        .container--big {
            max-width: 1540px;
            margin: 0 auto;
        }
    }

/*  End media queries  */


/*  Multi carousel classes (Shop)  */

.MultiCarousel {
    float: left;
    overflow-x: visible;
    overflow-y: visible;
    width: 100%;
    position: relative;
    height: auto;
}

    .MultiCarousel > div.hide-content {
        overflow-x: hidden;
        overflow-y: visible;
        padding-bottom: 120px;
        margin-left: 10px;
        margin-right: 10px;
    }

    .MultiCarousel .MultiCarousel-inner {
        transition: 1s ease all;
        float: left;
    }

    .MultiCarousel .leftLst, .MultiCarousel .rightLst {
        position: absolute;
        border-radius: 50%;
        top: calc(30% - 20px);
    }

    .MultiCarousel .leftLst {
        left: 0;
    }

    .MultiCarousel .rightLst {
        right: 0;
    }

        .MultiCarousel .leftLst.over, .MultiCarousel .rightLst.over {
            pointer-events: none;
            background: #ccc;
        }

/*  End Multicarousel classes  */


/*  Shop classes  */

.floating-button {
    width: 200px;
    position: fixed;
    left: calc(50% - 100px);
    bottom: 10px;
    z-index: 5;
    padding: 15px 5px;
    border-radius: 25px;
    background-color: #000;
    color: lightgray;
    font-size: 16px;
    transition: .2s ease;
    border: none;
}

    .floating-button:hover {
        background-color: #303030;
        color: white;
        transition: .2s ease;
        border-radius: 25px;
    }

    .floating-button:active {
        background-color: #303030;
        color: gray;
        transition: .2s ease;
        border-radius: 25px;
    }

    .floating-button:focus {
        outline: none;
    }

/*  End shop classes  */


/*  Index page classes  */

.image-background-index {
    background-color: rgba(0,0,0,0.3);
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: all .35s ease 0s;
}

    .image-background-index:hover {
        background-color: rgba(0,0,0,0.75);
        background-blend-mode: multiply;
        transform: scale(1.1);
        transition: all .35s ease 0s;
    }

/*  End Index page classes  */

/*  Shopping cart elements  */

.shopping-cart__product-image {
    width: 100%;
    max-width: 100px;
    max-height: 100px;
    height: auto;
}

.shopping-cart__trash-button {
    border-radius: 5px;
    border: none;
    width: 30px;
    height: 30px;
    font-size: 18px;
    padding: 3px;
    line-height: 15px;
    font-weight: bold;
    color: white;
    background-color: black;
}

    .shopping-cart__trash-button:hover {
        background-color: #303030;
    }

    .shopping-cart__trash-button:active {
        background-color: white;
        color: black;
    }

.shopping-cart__quantity-button {
    border-radius: 20px;
    border: none;
    max-width: 23px;
    max-height: 23px;
    font-size: 18px;
    padding: 3px;
    line-height: 15px;
    font-weight: bold;
    color: white;
}


.shopping-cart__quantity-button--green {
    background-color: #199623;
}

    .shopping-cart__quantity-button--green:hover {
        background-color: #1ca327;
    }

    .shopping-cart__quantity-button--green:active {
        background-color: #126919;
    }

.shopping-cart__quantity-button--red {
    background-color: #ac2500;
}

    .shopping-cart__quantity-button--red:hover {
        background-color: #b72700;
    }

    .shopping-cart__quantity-button--red:active {
        background-color: #581300;
    }

/*  End shopping cart elements  */