html, body {
    padding: 0;
    margin: 0;
    height: 100%;
}

.big-icon {
    font-size: 64px !important;
}

.font-weight-600 {
    font-weight: 600 !important;
}

.font-weight-900 {
    font-weight: 900 !important;
}

.bg-red {
    background-color: #ff0000;
}

.bg-black {
    background-color: #000000;
}

.bg-grey {
    background-color: #808080;
}

.bg-darkgrey {
    background-color: #404040;
}

.bg-darkred {
    background-color: #4a0404;
}

.fill-even {
    flex: 1 1 0;
}

.font-raleway {
    font-family: 'Raleway', sans-serif;
}

.font-size-big {
    font-size: 64px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
