@{
    ViewBag.Title = "Serwis";
    Layout = "~/Views/Shared/_ServiceLayout.cshtml";
}

<h4> Serwis BIKEVISION </h4>
<hr />
<p class="text-primary text-justify">
    Witaj w naszym serwisie BIKEVISION!
    Nasi wykwalifikowani fachowcy naprawią każdą usterkę w Twoim rowerze.
    Skontaktuj się z nami poprzez złożenie nowego zlecenia serwisowego i utrzymaj stały kontakt z serwisantem, który będzie sprawował opiekę nad Twoim zleceniem, poprzez system notatek.
</p>