@model List<bikevision.Models.ServiceType>
@{
    ViewBag.Title = "Cennik usług";
    Layout = "~/Views/Shared/_ServiceLayout.cshtml";
}

<h2>@ViewBag.Title</h2>
<hr />

<table class="table table-striped text-primary">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Usługa</th>
            <th class="text-center" scope="col">Cena od</th>
            <th class="text-center" scope="col">Cena do</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var serviceType in Model)
        {
            <tr>
                <th scope="row">@serviceType.type</th>
                <td class="text-center">@serviceType.priceFrom</td>
                <td class="text-center">
                @if (serviceType.priceTo != null)
                {
                    @serviceType.priceTo
                }
                else
                {
                    <span>-</span>
                }
                </td>
            </tr>
        }
    </tbody>
</table>
