@model bikevision.Models.RegisterViewModel

@{
    ViewBag.Title = "Order";
    Layout = "~/Views/Shared/_ShopLayout.cshtml";
}

<h2>Order</h2>

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("Final", "ShoppingCart", null, FormMethod.Post, new { @class = "d-flex flex-column", role = "form" }))
    {
        <p> Additional data form </p>
        <button> Finish order </button>
    }
}
else
{
    using (Html.BeginForm("LoginForOrder", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "d-flex flex-column", role = "form" }))
    {
        @Html.AntiForgeryToken()
        @Html.Partial("_LoginForm", Model)
    }

    using (Html.BeginForm("SignUp", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "d-flex flex-column", role = "form" }))
    {
        @Html.AntiForgeryToken()
        @Html.Partial("_RegistrationForm", Model)
    }
    using (Html.BeginForm("Final", "ShoppingCart", null, FormMethod.Post, new { @class = "d-flex flex-column", role = "form" }))
    {
        <button> Continue without account</button>
    }
}
