@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>

<section>
    <div class="d-flex flex-column">
        <div class="d-flex flex-row bg-red p-1">
            <div class="bg-dark fill-even"> A in A</div>
            <div class="bg-dark fill-even"> B in A</div>
        </div>
        <div class="bg-darkred p-1">
            <div class="bg-dark"> A in B</div>
            <div class="bg-dark"> B in B</div>
        </div>
    </div>
</section>
