@{
    ViewBag.Title = "O nas";
    Layout = "~/Views/Shared/_EntranceLayout.cshtml";
}
<section>
    <div id="carouselAbout" class="carousel slide carousel-fade w-100" data-ride="carousel">
        <div class="carousel-inner max-height-500 bg-dark">
            <div class="carousel-item max-height-500 active">
                <img src="~/Content/Images/About/about_Carousel (1).jpg" class="d-block image-carousel-responsivity max-height-500 m-auto" alt="carousel_1" />
                <div class="carousel-caption d-none d-md-block">
                    <h3 class="text-white text-shadow"> Doświadczona załoga serwisowa </h3>
                    <p class=""> Szybka i sprawna realizacja zleceń serwisowych </p>
                </div>
            </div>

            <div class="carousel-item max-height-500">
                <img src="~/Content/Images/About/about_Carousel (2).jpg" class="d-block image-carousel-responsivity max-height-500 m-auto" alt="carousel_2">
                <div class="carousel-caption d-none d-md-block">
                    <h4 class="text-white text-shadow"> Kompetentna obsługa sklepu </h4>
                    <p> Dordctwo w sprawie każdego zakupu </p>
                </div>
            </div>

            <div class="carousel-item max-height-500">
                <img src="~/Content/Images/About/about_Carousel (3).jpg" class="d-block image-carousel-responsivity max-height-500 m-auto" alt="carousel_3">
                <div class="carousel-caption d-none d-md-block">
                    <h4 class="text-white text-shadow"> Szeroki asortyment części oraz akcesoriów </h4>
                    <p> 100 marek, ponad 1000 produktów, 300000 użytkowników </p>
                </div>
            </div>

            <div class="carousel-item max-height-500">
                <img src="~/Content/Images/About/about_Carousel (4).jpg" class="d-block image-carousel-responsivity max-height-500 m-auto" alt="carousel_4">
                <div class="carousel-caption d-none d-md-block">
                    <h4 class="text-white text-shadow"> Błyskawiczna realizacja zamówień </h4>
                </div>
            </div>
        </div>

        <a class="carousel-control-prev" href="#carouselAbout" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>

        <a class="carousel-control-next" href="#carouselAbout" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</section>

<section class="d-flex flex-column">
    <div class="d-flex flex-column container-fluid px-0 py-3 m-0 bg-semi-light">
        <div class="container">
            <div class="fill-even">
                <h2 class=""> Początki firmy </h2>
            </div>

            <div class="d-flex flex-column flex-lg-row">
                <p class="fill-even text-justify order-0 mr-0 mr-lg-2 text-primary border border-dark border-right-0 border-left-0 border-bottom-0">
                    Jazda na rowerze od zawsze była naszą pasją. Od 2006 roku również zawodowo związaliśmy się z branżą rowerową. Pomysł na stacjonarny oraz internetowy sklep rowerowy BIKEVISION udało się zrealizować w 2019 roku.  Decyzja ta była wynikiem niespełnionych oczekiwań w roli klientów. Uznaliśmy, że sprzedaż dobrych rowerów, serwis na najwyższym poziomie, profesjonalne doradztwo, a przede wszystkim uczciwe podejście do klienta to niestety niezbyt często spotykane atrybuty na naszym rynku rowerowym. Stąd pomysł oraz cel spełnienia oczekiwań, który sobie postawiliśmy. Projektu nie udałoby się zrealizować bez stworzenia zespołu,  ludzi, którzy dzieląc się swoją pasją z klientami wpływają na rozwój. Przed nami kolejne wyzwania, które dzięki determinacji oraz nieustającej chęci zarażania Polek i Polaków miłością do dwóch kółek zamierzamy realizować.  Zapraszamy do współpracy.
                </p>

                <div class="fill-even order-1">
                    <img class="w-100" src="~/Content/Images/About/about_4.jpg" />
                </div>
            </div>
        </div>
    </div>

    <div class="d-flex flex-column container-fluid px-0 py-3 m-0 bg-light border-0">
        <div class="container">
            <div class="fill-even">
                <h2 class=""> Dlaczego akurat rower? </h2>
            </div>

            <div class="d-flex fill-even flex-column flex-lg-row">
                <p class="fill-even text-justify order-0 order-lg-1 ml-0 ml-lg-2 text-primary border border-dark border-right-0 border-left-0 border-bottom-0">
                    Rowery to coraz chętniej wybierany środek transportu, co można zauważyć chociażby na ulicach Krakowa i wielu innych polskich miast. O popularności rowerów zadecydowała ekonomiczność jazdy i korzyści zdrowotne. Coraz więcej osób postanawia dojeżdżać do pracy oraz szkoły pojazdem dwukołowym, ponieważ do tańsza alternatywa samochodu. Podróżując rowerem, nie stoi się w korkach, nie płaci się za miejsce parkingowe, łatwo dojechać do zamkniętego centrum dużego miasta, takiego jak Kraków oraz co najważniejsze - nie wydaje się pieniędzy na paliwo. Wycieczki rowerowe to fantastyczny pomysł na aktywne spędzenie czasu z rodziną oraz ze znajomymi. Jazda rowerem jest nie tylko przyjemna, ale i zdrowa – pozwala utrzymać kondycję, wzmocnić mięśnie i spalić zbędne kalorie bez większego wysiłku. Tym samym poprawia samopoczucie i utrzymuje nas w świetnej formie i witalności.
                </p>
                <div class="fill-even order-1 order-lg-0">
                    <img class="w-100" src="~/Content/Images/About/about_5.jpg" />
                </div>
            </div>
        </div>
    </div>

    <div class="d-flex flex-column container-fluid px-0 py-3 m-0 bg-semi-light">
        <div class="container">
            <div class="fill-even">
                <h2 class=""> Załoga BIKEVISION </h2>
            </div>

            <div class="d-flex fill-even flex-column flex-lg-row">
                <p class="fill-even text-justify order-0 mr-0 mr-lg-2 text-primary border border-dark border-right-0 border-left-0 border-bottom-0">
                    Doświadczona, zgrana i rzetelna załoga firmy. Kadra pracownicza BIKEVISION to ludzie z wieloletnim doświadczeniem, którzy wciąż rozwijają swoje umiejętności. Wspólnym celem zarządu i pracowników jest świadczenie usług na najwyższym poziomie, by móc kompleksowo zadowalać oczekiwania klientów i rynku. Świadczą o tym przyznawane nam certyfikaty i nagrody. Z naszej strony zawsze możesz liczyć na profesjonalizm i najwyższą jakość współpracy.
                </p>

                <div class="fill-even order-1">
                    <img class="w-100" src="~/Content/Images/About/about_6.jpg" />
                </div>
            </div>
        </div>
    </div>
</section>