@{
    ViewBag.Title = "Kontakt";
    Layout = "~/Views/Shared/_EntranceLayout.cshtml";
}

    <section class="d-flex flex-fill flex-column flex-md-row">
        <div class="d-flex flex-column bg-grey fill-even font-raleway px-3 align-items-center justify-content-around">
            <div class="flex-row my-2">
                <h3 class="font-weight-600 text-uppercase text-nowrap">
                    Skontaktuj się z Nami...
                </h3>
            </div>

            <div class="flex-row my-2">
                <p class="">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris interdum purus at sem ornare sodales. Morbi leo nulla, pharetra vel felis nec, ullamcorper condimentum quam.
                </p>
            </div>

            <div class="d-flex flex-row flex-wrap align-content-around">
                <div class="d-flex fill-even flex-column align-items-center mx-3">
                    <i class="material-icons big-icon">phone</i>
                    <h5 class="font-weight-600 text-nowrap">
                        Zadzwoń do nas
                    </h5>
                    <p class="text-nowrap">
                        +48 XXX-XXX-XXX<br />
                        +48 XXX-XXX-XXX
                    </p>
                </div>
                <div class="d-flex fill-even flex-column align-items-center mx-3">
                    <i class="material-icons big-icon">place</i>
                    <h5 class="font-weight-600 text-nowrap">
                        Odwiedź nas
                    </h5>
                    <p class="text-center text-nowrap">
                        Al. Niewiadomska X/Y,<br />Niewiadów XX-YYY
                    </p>
                </div>
                <div class="d-flex fill-even flex-column align-items-center mx-3">
                    <i class="material-icons big-icon">email</i>
                    <h5 class="font-weight-600 text-nowrap">
                        Napisz do nas
                    </h5>
                    <p class="text-nowrap">
                        abcdef&#64;bikevision.com
                    </p>
                </div>
            </div>
        </div>

        <div class="d-flex flex-column bg-darkgrey fill-even px-3 text-center justify-content-center">
            <h3 class="font-weight-600 text-uppercase my-5">
                ...lub skorzystaj z naszego formularza
            </h3>
        </div>
</section>