@{
    ViewBag.Title = "Kontakt";
    Layout = "~/Views/Shared/_EntranceLayout.cshtml";
}

    <section class="d-flex flex-fill flex-column flex-md-row">
        <div class="d-flex flex-column bg-grey fill-even font-raleway px-3 py-3 align-items-center justify-content-around">
            <div class="flex-row my-2">
                <h3 class="font-weight-600 text-uppercase text-nowrap">
                    Skontaktuj się z Nami
                </h3>
            </div>

            <div class="flex-row my-2">
                <p class="">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris interdum purus at sem ornare sodales. Morbi leo nulla, pharetra vel felis nec, ullamcorper condimentum quam.
                </p>
            </div>

            <div class="d-flex flex-row flex-wrap align-content-around">
                <div class="d-flex fill-even flex-column align-items-center mx-3">
                    <i class="material-icons big-icon">phone</i>
                    <h5 class="font-weight-600 text-nowrap">
                        Zadzwoń do nas
                    </h5>
                    <p class="text-nowrap">
                        +48 XXX-XXX-XXX<br />
                        +48 XXX-XXX-XXX
                    </p>
                </div>
                <div class="d-flex fill-even flex-column align-items-center mx-3">
                    <i class="material-icons big-icon">place</i>
                    <h5 class="font-weight-600 text-nowrap">
                        Odwiedź nas
                    </h5>
                    <p class="text-center text-nowrap">
                        Al. Niewiadomska X/Y,<br />Niewiadów XX-YYY
                    </p>
                </div>
                <div class="d-flex fill-even flex-column align-items-center mx-3">
                    <i class="material-icons big-icon">email</i>
                    <h5 class="font-weight-600 text-nowrap">
                        Napisz do nas
                    </h5>
                    <p class="text-nowrap">
                        abcdef&#64;bikevision.com
                    </p>
                </div>
            </div>
        </div>

        <div class="d-flex flex-column bg-darkgrey fill-even px-0 align-items-center justify-content-around">
            <div class="fill-even pt-3">
                <h3 class="font-weight-600 text-uppercase mt-5 text-nowrap">
                    Formularz kontaktowy
                </h3>
            </div>

            <form class="d-flex flex-column fill-even w-100 mb-5">
                <div class="d-flex flex-column flex-xl-row fill-even">
                    <div class="d-flex flex-column fill-even">
                        <div class="d-flex flex-column justify-content-start form-group fill-even px-2">
                            <label for="name">Imię:</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text"><i class="material-icons">person</i></div>
                                </div>
                                <input type="text" class="form-control mw-100" id="name" placeholder="Wpisz swoje imię">
                            </div>
                        </div>

                        <div class="d-flex flex-column justify-content-around form-group fill-even px-2">
                            <label for="email">Adres e-mail:</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text"><i class="material-icons">email</i></div>
                                </div>
                                <input type="email" class="form-control mw-100" id="email" placeholder="Wpisz swój adres e-mail">
                            </div>
                        </div>

                        <div class="d-flex flex-column justify-content-end form-group fill-even px-2">
                            <label for="subject">Temat wiadomości:</label>
                            <select id="subject" class="form-control mw-100">
                                <option selected>Wybierz temat wiadomości...</option>
                                <option>Pomoc</option>
                            </select>
                        </div>
                    </div>

                    <div class="d-flex flex-column justify-content-around form-group fill-even px-2">
                        <label for="message">Treść wiadomości:</label>
                        <textarea class="flex-grow-1 form-control mw-100" id="message" rows="9"></textarea>
                    </div>
                </div>
                <div class="d-flex justify-content-center align-content-center">
                    <button type="submit" class="btn btn-primary btn-lg py-2 px-5"> Wyślij </button>
                </div>
            </form>
        </div>
</section>