@{
    ViewBag.Title = "Kontakt";
    Layout = "~/Views/Shared/_EntranceLayout.cshtml";
}

<section class="d-flex flex-fill flex-column flex-md-row">
    <div class="d-flex flex-column bg-semi-light fill-even px-3 py-3 align-items-center justify-content-around">
        <div class="flex-row my-2">
            <h3 class="text-uppercase text-center text-primary">
                Skontaktuj się z Nami
            </h3>
        </div>

        <div class="flex-row my-2">
            <p class="">
                Jeśli masz jakieś pytania lub wątpliwości to...
            </p>
        </div>

        <div class="d-flex flex-row flex-wrap align-content-around">
            <div class="d-flex fill-even flex-column align-items-center mx-3">
                <i class="fas fa-phone big-icon text-info pb-3"></i>
                <h5 class="text-primary text-nowrap">
                    Zadzwoń do nas
                </h5>
                <p class="text-secondary text-nowrap">
                    +48 652-254-569<br />
                    +48 648-874-587
                </p>
            </div>
            <div class="d-flex fill-even flex-column align-items-center mx-3">
                <i class="fas fa-map-marker-alt big-icon text-info pb-3"></i>
                <h5 class="text-primary text-nowrap">
                    Odwiedź nas
                </h5>
                <p class="text-secondary text-nowrap">
                    Al. Niewiadomska 18,<br />Niewiadów 33-215
                </p>
            </div>
            <div class="d-flex fill-even flex-column align-items-center mx-3">
                <i class="fas fa-envelope big-icon text-info pb-3"></i>
                <h5 class="text-primary text-nowrap">
                    Napisz do nas
                </h5>
                <p class="text-secondary text-nowrap">
                    kontakt&#64;bikevision.com
                </p>
            </div>
        </div>
    </div>

    <div class="d-flex flex-column bg-light fill-even px-0 align-items-center justify-content-around">
        <div class="fill-even pt-3">
            <h3 class="text-uppercase mt-5 text-center text-primary">
                Formularz kontaktowy
            </h3>
        </div>

        <form action="" method="post" class="d-flex flex-column fill-even w-100 mb-5">
            <div class="d-flex flex-column flex-xl-row fill-even">
                <div class="d-flex flex-column fill-even">
                    <div class="d-flex flex-column justify-content-start form-group fill-even px-2">
                        <label for="name" class="text-primary">Imię:</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text border-0"><i class="fas fa-user small-icon"></i></div>
                            </div>
                            <input data-validation="required length alphanumeric" data-validation-length="3-35" type="text" class="form-control" id="name" placeholder="Wpisz swoje imię">

                        </div>
                    </div>

                    <div class="d-flex flex-column justify-content-around form-group fill-even px-2">
                        <label for="email" class="text-primary">Adres e-mail:</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text border-0"><i class="fas fa-envelope small-icon"></i></div>
                            </div>
                            <input data-validation="required email" type="email" class="form-control" id="email" placeholder="Wpisz swój adres e-mail">
                        </div>
                    </div>

                    <div class="d-flex flex-column justify-content-end form-group fill-even px-2">
                        <label for="subject" class="text-primary">Temat wiadomości:</label>
                        <select data-validation="required" id="subject" class="form-control">
                            <option value="" selected>Wybierz temat wiadomości...</option>
                            <option value="Pomoc">Pomoc</option>
                            <option value="Pytanie_ogolne">Pytanie ogólne</option>
                            <option value="Dane_techniczne">Dane techniczne</option>
                            <option value="Blad">Błąd w opisie lub specyfikacji</option>
                            <option value="Dostepnosc_produktu">Dostępnośc produktu</option>
                        </select>
                    </div>
                </div>

                <div class="d-flex flex-column justify-content-around form-group fill-even px-2">
                    <label for="message" class="text-primary">Treść wiadomości:</label>
                    <textarea data-validation="required length" data-validation-length="10-2000" class="flex-grow-1 form-control" id="message" rows="9"></textarea>
                    <span>Pozostało <span id="max-length-element">2000</span> znaków</span>
                </div>
            </div>
            <div class="d-flex justify-content-center align-content-center">
                <button type="submit" id="submit" class="btn btn-primary btn-lg py-2 px-5"> Wyślij </button>
            </div>
        </form>
    </div>
</section>

@section scripts
{
    @Scripts.Render("~/Scripts/Form validators/contact-form.validation.js")
}