@{
    ViewBag.Title = "Strona główna";
    Layout = "~/Views/Shared/_EntranceLayout.cshtml";
}

<section class="d-flex flex-lg-row flex-column text-light fill-even text-center overflow-hidden">
    <a href="@Url.Action("Service", "Home")" id="service-link" class="d-flex image-background-index flex-column fill-even justify-content-around flex-wrap nav-link text-light">
        <h1 class="flex-row text-size-big text-light"> SERWIS </h1>
        <p class="flex-row mt-5 text-light">
            Umów się na wizytę serwisową bez wychodzenia z domu lub sprawdź status swojego zlecenia!
        </p>
    </a>

    <a href="@Url.Action("Shop", "Home")" id="shop-link" class="d-flex image-background-index flex-column fill-even justify-content-around flex-wrap nav-link text-light">
        <h1 class="flex-row text-size-big text-light"> SKLEP </h1>
        <p class="flex-row mt-5 text-light">
            Przeglądaj i zamawiaj produkty spośród 100 różnych marek.
        </p>
    </a>
</section>
