@{
    ViewBag.Title = "Strona główna";
}

<section class="d-flex flex-md-row flex-column text-light flex-fill text-center">
    <section class="flex-row flex-md-column fill-even bg-red">
        <h1 class="lead"> Serwis </h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas consequat leo id viverra tristique. Donec maximus nibh nec lacus tristique euismod. Cras elementum mollis facilisis. Nulla finibus ac lectus congue interdum. Curabitur consequat euismod augue in bibendum. Curabitur blandit eros mattis quam consectetur, in ornare diam facilisis. Aliquam in augue fermentum, bibendum velit a, tincidunt odio. Nullam lorem turpis, lacinia ut maximus vitae, pretium sit amet orci. Nullam euismod venenatis risus, eleifend mattis augue pharetra lobortis. Maecenas ex libero, consequat et convallis ut, cursus nec diam. Nunc ac nibh lacinia, convallis turpis fringilla, convallis massa. Nullam ac eros sit amet mi imperdiet dictum. Vestibulum vitae justo id enim consequat varius cursus nec ante. Ut ut justo sit amet est sodales rutrum.
        </p>
    </section>

    <section class="flex-row flex-md-column fill-even bg-blue">
        <h1 class="lead"> Sklep </h1>
        <p>  tristique. Donec maximus nibh nec lacus tristique euismod. Cras elementum mollis facilisis. Nulla finibus ac lectus congue interdum. Curabitur consequat euismod augue in bibendum. Curabitur blandit eros mattis quam consectetur, in ornare diam facilisis. Aliquam in augue fermentum, bibendum velit a, tincidunt odio. Nullam lorem turpis, lacinia ut maximus vitae, pretium sit amet orci. Nullam euismod venenatis risus, eleifend mattis augue pharetra lobortis. Maecenas ex libero, consequat et convallis ut, cursus nec diam. Nunc ac nibh lacinia, convallis turpis fringilla, convallis massa. Nullam ac eros sit amet mi imperdiet dictum. Vestibulum vitae justo id enim consequat varius cursus nec ante. Ut ut justo sit amet est sodales rutrum. </p>
    </section>
</section>
