@{
    ViewBag.Title = "Strona główna";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="d-flex flex-md-row flex-column text-light flex-fill text-center font-raleway">
    <a href="@Url.Action("Service", "Home")" class="d-flex flex-column fill-even fill-even bg-red p-5 justify-content-center flex-wrap nav-link text-white">
        <h1 class="flex-row font-weight-bold font-size-big"> SERWIS </h1>
        <p class="flex-row mt-5">
            Umów się na wizytę serwisową bez wychodzenia z domu lub sprawdź status swojego zlecenia!
        </p>
    </a>

    <a href="@Url.Action("Shop", "Home")" class="d-flex flex-column fill-even bg-darkred p-5 justify-content-center flex-wrap nav-link text-white">
        <h1 class="flex-row font-weight-bold font-size-big"> SKLEP </h1>
        <p class="flex-row mt-5">
            Przeglądaj i zamawiaj produkty spośród 100 różnych marek.
        </p>
    </a>
</section>
