
@{
    ViewBag.Title = "Shop";
    Layout = "~/Views/Shared/_ShopLayout.cshtml";

}
<section>
    <div class="container--big">
        <div class="shopping-card">
            <div class="shopping-card__content">
                <div class="shopping-card__main-column">
                    <div class="shopping-card__main-content">
                        <img class="shopping-card__image" src="~/Content/Images/Shop/siodelko_1.jpg" />
                        <hr class="shopping-card__underline" />
                        <h5 class="shopping-card__title"> Nazwa produktu </h5>
                        <h6 class="shopping-card__subtitle"> Nazwa produktu </h6>
                    </div>
                    <div class="shopping-card__hidden-content">
                        dd
                    </div>
                </div>
                <div class="shopping-card__gallery-column">
                    pp
                </div>
            </div>
        </div>

        <div class="shopping-card">
            <div class="shopping-card__content">
                <div class="shopping-card__main-column">
                    <div class="shopping-card__main-content">
                        <img class="shopping-card__image" src="~/Content/Images/Shop/siodelko_1.jpg" />
                        <hr class="shopping-card__underline" />
                        <h5 class="shopping-card__title"> Nazwa produktu </h5>
                        <h6 class="shopping-card__subtitle"> Nazwa produktu </h6>
                    </div>
                    <div class="shopping-card__hidden-content">
                        dd
                    </div>
                </div>
                <div class="shopping-card__gallery-column">
                    pp
                </div>
            </div>
        </div>

        <div class="shopping-card">
            <div class="shopping-card__content">
                <div class="shopping-card__main-column">
                    <div class="shopping-card__main-content">
                        <img class="shopping-card__image" src="~/Content/Images/Shop/siodelko_1.jpg" />
                        <hr class="shopping-card__underline" />
                        <h5 class="shopping-card__title"> Nazwa produktu </h5>
                        <h6 class="shopping-card__subtitle"> Nazwa produktu </h6>
                    </div>
                    <div class="shopping-card__hidden-content">
                        dd
                    </div>
                </div>
                <div class="shopping-card__gallery-column">
                    pp
                </div>
            </div>
        </div>
    </div>
</section>

