
@{
    ViewBag.Title = "ProductList";
    Layout = "~/Views/Shared/_ShopLayout.cshtml";
}

    <div class="container container--big d-flex flex-column"> <!-- content <-- own BEM class -->
        <nav class="py-2" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Shop</a></li>
                <li class="breadcrumb-item active" aria-current="page">Kategoria</li>
            </ol>
        </nav>

        <div class="d-flex flex-row align-items-stretch">
            <h3 class="align-self-baseline">Aktualna kategoria</h3>
            <h5 class="ml-2 align-self-baseline">Liczba produktow</h5>
        </div>

        <div class="d-flex flex-row">
            <div class="d-none d-md-flex flex-column">
                <div class="">
                    <p class="border-bottom"> Filtrowanie po... </p>
                    <form>
                        <input type="checkbox" id="optA" value="A" /> <label for="optA"> Opcja A </label> <br />
                        <input type="checkbox" id="optB" value="B" /> <label for="optB"> Opcja B </label> <br />
                        <input type="checkbox" id="optC" value="C" /> <label for="optC"> Opcja C </label> <br />
                        <input type="checkbox" id="optD" value="D" /> <label for="optD"> Opcja D </label> <br />
                    </form>
                </div>
                <div class="">
                    <p class="border-bottom"> Filtrowanie po... </p>
                    <input type="text" id="textOd" /> <span> - </span> <input type="text" id="testDo" />
                    <input type="range" inputmode="numeric"/>
                </div>
                <div class="">
                    Filtorwanie nr 3
                </div>
                <div class="">
                    Filtorwanie nr 4
                </div>
                <div class="">
                    Filtorwanie nr 5
                </div>
            </div>
            <div class="d-flex flex-column">
                <div class="d-flex flex-row">
                    <div class="">
                        Lista / Siatka
                    </div>
                    <div class="">
                        Sortowanie
                    </div>
                </div>
                <div class="d-flex flex-row">
                    Produkty
                </div>
                <div class="d-none d-md-block mt-auto flex-row">
                    Paginacja
                </div>
            </div>
        </div>

        <button class="d-block d-md-none floating-button btn btn-info"> Filtruj </button>
    </div>

