
@{
    ViewBag.Title = "ProductList";
    Layout = "~/Views/Shared/_ShopLayout.cshtml";
}

    <div class="container container--big d-flex flex-column"> <!-- content <-- own BEM class -->
        <nav class="py-2" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Shop</a></li>
                <li class="breadcrumb-item active" aria-current="page">Kategoria</li>
            </ol>
        </nav>

        <div class="d-flex flex-row align-items-stretch">
            <h3 class="align-self-baseline">Aktualna kategoria</h3>
            <h5 class="ml-2 align-self-baseline">Liczba produktow</h5>
        </div>

        <div class="d-flex flex-row">
            <div class="d-none d-md-flex flex-column left-column">
                <div class="filtering-card">
                    Filtrowanie po czymś tam
                </div>
                <div class="filtering-card">
                    Filtrowanie po czymś tam
                </div>
                <div class="filtering-card">
                    Filtrowanie po czymś tam
                </div>
                <div class="filtering-card">
                    Filtrowanie po czymś tam
                </div>
                <div class="filtering-card">
                    Filtrowanie po czymś tam
				</div>
            </div>
            <div class="d-flex flex-column right-column">
                <div class="d-flex flex-row justify-content-between">
                    <div class="p-1">
                        Lista / Siatka
                    </div>
                    <div class="p-1">
                        <span> Sortuj: </span>
                        <select>
                            <option> Cena /\ </option>
                            <option> Cena \/ </option>
                            <option> Alfabetycznie A-Z </option>
                            <option> Alfabetycznie Z-A </option>
                            <option> Ocena klientów /\ </option>
                        </select>
                    </div>
                </div>
                <div class="d-flex flex-row flex-wrap">
                    <div class="shopping-card">
                        <div class="shopping-card__content shopping-card__content--wider">
                            <div class="shopping-card__main-column">
                                <div class="shopping-card__main-content">
                                    <img class="shopping-card__image" src="~/Content/Images/Shop/siodelko_1.jpg" />
                                    <hr class="shopping-card__underline" />
                                    <h5 class="shopping-card__title"> Nazwa produktu </h5>
                                    <h6 class="shopping-card__subtitle"> Nazwa produktu </h6>
                                </div>
                                <div class="d-none d-md-block shopping-card__hidden-content">
                                    Buttons
                                </div>
                                <button class="d-md-none d-block btn btn-info shopping-card__hidden-button">
                                    Wybierz inny
                                </button>
                            </div>
                            <div class="d-none d-md-block shopping-card__gallery-column">
                                Gallery
                            </div>
                        </div>
                    </div>

                    <div class="shopping-card">
                        <div class="shopping-card__content shopping-card__content--wider">
                            <div class="shopping-card__main-column">
                                <div class="shopping-card__main-content">
                                    <img class="shopping-card__image" src="~/Content/Images/Shop/siodelko_1.jpg" />
                                    <hr class="shopping-card__underline" />
                                    <h5 class="shopping-card__title"> Nazwa produktu </h5>
                                    <h6 class="shopping-card__subtitle"> Nazwa produktu </h6>
                                </div>
                                <div class="d-none d-md-block shopping-card__hidden-content">
                                    Buttons
                                </div>
                                <button class="d-md-none d-block btn btn-info shopping-card__hidden-button">
                                    Wybierz inny
                                </button>
                            </div>
                            <div class="d-none d-md-block shopping-card__gallery-column">
                                Gallery
                            </div>
                        </div>
                    </div>

                    <div class="shopping-card">
                        <div class="shopping-card__content shopping-card__content--wider">
                            <div class="shopping-card__main-column">
                                <div class="shopping-card__main-content">
                                    <img class="shopping-card__image" src="~/Content/Images/Shop/siodelko_1.jpg" />
                                    <hr class="shopping-card__underline" />
                                    <h5 class="shopping-card__title"> Nazwa produktu </h5>
                                    <h6 class="shopping-card__subtitle"> Nazwa produktu </h6>
                                </div>
                                <div class="d-none d-md-block shopping-card__hidden-content">
                                    Buttons
                                </div>
                                <button class="d-md-none d-block btn btn-info shopping-card__hidden-button">
                                    Wybierz inny
                                </button>
                            </div>
                            <div class="d-none d-md-block shopping-card__gallery-column">
                                Gallery
                            </div>
                        </div>
                    </div>

                    <div class="shopping-card">
                        <div class="shopping-card__content shopping-card__content--wider">
                            <div class="shopping-card__main-column">
                                <div class="shopping-card__main-content">
                                    <img class="shopping-card__image" src="~/Content/Images/Shop/siodelko_1.jpg" />
                                    <hr class="shopping-card__underline" />
                                    <h5 class="shopping-card__title"> Nazwa produktu </h5>
                                    <h6 class="shopping-card__subtitle"> Nazwa produktu </h6>
                                </div>
                                <div class="d-none d-md-block shopping-card__hidden-content">
                                    Buttons
                                </div>
                                <button class="d-md-none d-block btn btn-info shopping-card__hidden-button">
                                    Wybierz inny
                                </button>
                            </div>
                            <div class="d-none d-md-block shopping-card__gallery-column">
                                Gallery
                            </div>
                        </div>
                    </div>

                    <div class="shopping-card">
                        <div class="shopping-card__content shopping-card__content--wider">
                            <div class="shopping-card__main-column">
                                <div class="shopping-card__main-content">
                                    <img class="shopping-card__image" src="~/Content/Images/Shop/siodelko_1.jpg" />
                                    <hr class="shopping-card__underline" />
                                    <h5 class="shopping-card__title"> Nazwa produktu </h5>
                                    <h6 class="shopping-card__subtitle"> Nazwa produktu </h6>
                                </div>
                                <div class="d-none d-md-block shopping-card__hidden-content">
                                    Buttons
                                </div>
                                <button class="d-md-none d-block btn btn-info shopping-card__hidden-button">
                                    Wybierz inny
                                </button>
                            </div>
                            <div class="d-none d-md-block shopping-card__gallery-column">
                                Gallery
                            </div>
                        </div>
                    </div>

                    <div class="shopping-card">
                        <div class="shopping-card__content shopping-card__content--wider">
                            <div class="shopping-card__main-column">
                                <div class="shopping-card__main-content">
                                    <img class="shopping-card__image" src="~/Content/Images/Shop/siodelko_1.jpg" />
                                    <hr class="shopping-card__underline" />
                                    <h5 class="shopping-card__title"> Nazwa produktu </h5>
                                    <h6 class="shopping-card__subtitle"> Nazwa produktu </h6>
                                </div>
                                <div class="d-none d-md-block shopping-card__hidden-content">
                                    Buttons
                                </div>
                                <button class="d-md-none d-block btn btn-info shopping-card__hidden-button">
                                    Wybierz inny
                                </button>
                            </div>
                            <div class="d-none d-md-block shopping-card__gallery-column">
                                Gallery
                            </div>
                        </div>
                    </div>

                    <div class="shopping-card">
                        <div class="shopping-card__content shopping-card__content--wider">
                            <div class="shopping-card__main-column">
                                <div class="shopping-card__main-content">
                                    <img class="shopping-card__image" src="~/Content/Images/Shop/siodelko_1.jpg" />
                                    <hr class="shopping-card__underline" />
                                    <h5 class="shopping-card__title"> Nazwa produktu </h5>
                                    <h6 class="shopping-card__subtitle"> Nazwa produktu </h6>
                                </div>
                                <div class="d-none d-md-block shopping-card__hidden-content">
                                    Buttons
                                </div>
                                <button class="d-md-none d-block btn btn-info shopping-card__hidden-button">
                                    Wybierz inny
                                </button>
                            </div>
                            <div class="d-none d-md-block shopping-card__gallery-column">
                                Gallery
                            </div>
                        </div>
                    </div>
                </div>
                <nav class="d-none d-md-block flex-row mt-2">
                    <ul class="pagination justify-content-center">
                        <li class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1">Previous</a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#">Next</a>
                        </li>
                    </ul>
                </nav>
                <button class="d-block d-md-none btn btn-info"> Więcej \/ </button>
            </div>
        </div>

        <button class="d-block d-md-none floating-button btn btn-info"> Filtruj </button>
    </div>

