
@{
    ViewBag.Title = "Shop";
    Layout = "~/Views/Shared/_ShopLayout.cshtml";

}
<section class="container-fluid d-flex p-0 m-0">
    <div class="d-flex flex-column container-fluid p-0 m-0">
        <nav class="container container--big" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Shop</a></li>
                <li class="breadcrumb-item active" aria-current="page">Kategoria</li>
            </ol>
        </nav>
    </div>
</section>