
@{
    ViewBag.Title = "Shop";
    Layout = "~/Views/Shared/_ShopLayout.cshtml";

}
<section>
    <div class="container--big">
        <div class="shopping-card">
            <div class="shopping-card__content">
                <div class="shopping-card__main-content">
                    <img class="shopping-card__image" src="~/Content/Images/Shop/siodelko_1.jpg" />
                    <hr class="shopping-card__underline" />
                    <h4 class="shopping-card__title"> Nazwa produktu </h4>
                    <h6 class="shopping-card__subtitle"> Krótki opis </h6>
                </div>
                <div class="shopping-card__hidden-gallery text-dark">
                    gallery
                </div>
                <div class="shopping-card__hidden-buttons text-dark">
                    buttons
                </div>
            </div>
        </div>
        <div class="shopping-card">
            <div class="shopping-card__content">
                <div class="shopping-card__main-content">
                    <img class="shopping-card__image" src="~/Content/Images/Shop/siodelko_1.jpg" />
                    <hr class="shopping-card__underline" />
                    <h4 class="shopping-card__title"> Nazwa produktu </h4>
                    <h6 class="shopping-card__subtitle"> Krótki opis </h6>
                </div>
                <div class="shopping-card__hidden-gallery text-dark">
                    gallery
                </div>
                <div class="shopping-card__hidden-buttons text-dark">
                    buttons
                </div>
            </div>
        </div>
        <div class="shopping-card">
            <div class="shopping-card__content">
                <div class="shopping-card__main-content">
                    <img class="shopping-card__image" src="~/Content/Images/Shop/siodelko_1.jpg" />
                    <hr class="shopping-card__underline" />
                    <h4 class="shopping-card__title"> Nazwa produktu </h4>
                    <h6 class="shopping-card__subtitle"> Krótki opis </h6>
                </div>
                <div class="shopping-card__hidden-gallery text-dark">
                    gallery
                </div>
                <div class="shopping-card__hidden-buttons text-dark">
                    buttons
                </div>
            </div>
        </div>
        <div class="shopping-card">
            <div class="shopping-card__content">
                <div class="shopping-card__main-content">
                    <img class="shopping-card__image" src="~/Content/Images/Shop/siodelko_1.jpg" />
                    <hr class="shopping-card__underline" />
                    <h4 class="shopping-card__title"> Nazwa produktu </h4>
                    <h6 class="shopping-card__subtitle"> Krótki opis </h6>
                </div>
                <div class="shopping-card__hidden-gallery text-dark">
                    gallery
                </div>
                <div class="shopping-card__hidden-buttons text-dark">
                    buttons
                </div>
            </div>
        </div>
        <div class="shopping-card">
            <div class="shopping-card__content">
                <div class="shopping-card__main-content">
                    <img class="shopping-card__image" src="~/Content/Images/Shop/siodelko_1.jpg" />
                    <hr class="shopping-card__underline" />
                    <h4 class="shopping-card__title"> Nazwa produktu </h4>
                    <h6 class="shopping-card__subtitle"> Krótki opis </h6>
                </div>
                <div class="shopping-card__hidden-gallery text-dark">
                    gallery
                </div>
                <div class="shopping-card__hidden-buttons text-dark">
                    buttons
                </div>
            </div>
        </div>
        <div class="shopping-card">
            <div class="shopping-card__content">
                <div class="shopping-card__main-content">
                    <img class="shopping-card__image" src="~/Content/Images/Shop/siodelko_1.jpg" />
                    <hr class="shopping-card__underline" />
                    <h4 class="shopping-card__title"> Nazwa produktu </h4>
                    <h6 class="shopping-card__subtitle"> Krótki opis </h6>
                </div>
                <div class="shopping-card__hidden-gallery text-dark">
                    gallery
                </div>
                <div class="shopping-card__hidden-buttons text-dark">
                    buttons
                </div>
            </div>
        </div>
        <div class="shopping-card">
            <div class="shopping-card__content">
                <div class="shopping-card__main-content">
                    <img class="shopping-card__image" src="~/Content/Images/Shop/siodelko_1.jpg" />
                    <hr class="shopping-card__underline" />
                    <h4 class="shopping-card__title"> Nazwa produktu </h4>
                    <h6 class="shopping-card__subtitle"> Krótki opis </h6>
                </div>
                <div class="shopping-card__hidden-gallery">
                    <p>gallery</p>
                </div>
                <div class="shopping-card__hidden-buttons">
                    <p>buttons</p>
                </div>
            </div>
        </div>
    </div>
</section>

