
@{
    ViewBag.Title = "Shop";
    Layout = "~/Views/Shared/_ShopLayout.cshtml";

}
<section>
    <div class="container--big">
        <div class="shopping-card">
            <div class="shopping-card__content">
                <div class="shopping-card__main-column">
                    <div class="shopping-card__main-content">
                        <div class="shopping-card__banner">
                            Promocja
                        </div>
                        <img class="shopping-card__image" src="~/Content/Images/Shop/siodelko_1.jpg" />
                        <h6 class="shopping-card__subtitle"> DT Swiss </h6>
                        <h4 class="shopping-card__title"> Siodełko </h4>
                        <hr class="shopping-card__underline" />
                        <div class="shopping-card__footer">
                            <h3 class="shopping-card__price"> 1000 zł </h3>
                            <h5 class="shopping-card__discount"> 1250 zł </h5>
                        </div>
                    </div>
                    <div class="d-none d-md-block shopping-card__hidden-content">
                        <button class="shopping-card__cart-button"> Do koszyka </button>
                        <div class="shopping-card__additional-buttons">
                            <button class="shopping-card__additional-button"> Ulubiony </button>
                            <button class="shopping-card__additional-button"> Porównaj </button>
                        </div>
                    </div>
                    <button class="d-md-none d-block btn btn-info shopping-card__hidden-button">
                        Wybierz inny
                    </button>
                </div>
            </div>
        </div>

        <div class="shopping-card">
            <div class="shopping-card__content">
                <div class="shopping-card__main-column">
                    <div class="shopping-card__main-content">
                        <div class="shopping-card__banner">
                            <span> Promocja </span>
                        </div>
                        <img class="shopping-card__image" src="~/Content/Images/Shop/siodelko_1.jpg" />
                        <h6 class="shopping-card__subtitle"> DT Swiss </h6>
                        <h4 class="shopping-card__title"> Siodełko </h4>
                        <hr class="shopping-card__underline" />
                        <div class="shopping-card__footer">
                            <h3 class="shopping-card__price"> 1000 zł </h3>
                            <h5 class="shopping-card__discount"> 1250 zł </h5>
                        </div>
                    </div>
                    <div class="d-none d-md-block shopping-card__hidden-content">
                        <button class="shopping-card__cart-button"> Do koszyka </button>
                        <div class="shopping-card__additional-buttons">
                            <button class="shopping-card__additional-button"> Ulubiony </button>
                            <button class="shopping-card__additional-button"> Porównaj </button>
                        </div>
                    </div>
                    <button class="d-md-none d-block btn btn-info shopping-card__hidden-button">
                        Wybierz inny
                    </button>
                </div>
            </div>
        </div>

        <div class="shopping-card">
            <div class="shopping-card__content shopping-card__content--wider">
                <div class="shopping-card__main-column">
                    <div class="shopping-card__main-content">
                        <div class="shopping-card__banner">
                            Promocja
                        </div>
                        <img class="shopping-card__image" src="~/Content/Images/Shop/siodelko_1.jpg" />
                        <h6 class="shopping-card__subtitle"> DT Swiss </h6>
                        <h4 class="shopping-card__title"> Siodełko </h4>
                        <hr class="shopping-card__underline" />
                        <div class="shopping-card__footer">
                            <h3 class="shopping-card__price"> 1000 zł </h3>
                            <h5 class="shopping-card__discount"> 1250 zł </h5>
                        </div>
                    </div>
                    <div class="d-none d-md-block shopping-card__hidden-content">
                        <button class="shopping-card__cart-button"> Do koszyka </button>
                        <div class="shopping-card__additional-buttons">
                            <button class="shopping-card__additional-button"> Ulubiony </button>
                            <button class="shopping-card__additional-button"> Porównaj </button>
                        </div>
                    </div>
                    <button class="d-md-none d-block btn btn-info shopping-card__hidden-button">
                        Wybierz inny
                    </button>
                </div>
                <div class="d-none d-md-block shopping-card__gallery-column">
                    Gallery
                </div>
            </div>
        </div>

        <div class="shopping-card">
            <div class="shopping-card__content shopping-card__content--wider">
                <div class="shopping-card__main-column">
                    <div class="shopping-card__main-content">
                        <div class="shopping-card__banner">
                            Promocja
                        </div>
                        <img class="shopping-card__image" src="~/Content/Images/Shop/siodelko_1.jpg" />
                        <h6 class="shopping-card__subtitle"> DT Swiss </h6>
                        <h4 class="shopping-card__title"> Siodełko </h4>
                        <hr class="shopping-card__underline" />
                        <div class="shopping-card__footer">
                            <h3 class="shopping-card__price"> 1000 zł </h3>
                            <h5 class="shopping-card__discount"> 1250 zł </h5>
                        </div>
                    </div>
                    <div class="d-none d-md-block shopping-card__hidden-content">
                        <button class="shopping-card__cart-button"> Do koszyka </button>
                        <div class="shopping-card__additional-buttons">
                            <button class="shopping-card__additional-button"> Ulubiony </button>
                            <button class="shopping-card__additional-button"> Porównaj </button>
                        </div>
                    </div>
                    <button class="d-md-none d-block btn btn-info shopping-card__hidden-button">
                        Wybierz inny
                    </button>
                </div>
                <div class="d-none d-md-block shopping-card__gallery-column">
                    Gallery
                </div>
            </div>
        </div>

        <div class="shopping-card">
            <div class="shopping-card__content shopping-card__content--wider">
                <div class="shopping-card__main-column">
                    <div class="shopping-card__main-content">
                        <div class="shopping-card__banner">
                            Promocja
                        </div>
                        <img class="shopping-card__image" src="~/Content/Images/Shop/siodelko_1.jpg" />
                        <h6 class="shopping-card__subtitle"> DT Swiss </h6>
                        <h4 class="shopping-card__title"> Siodełko </h4>
                        <hr class="shopping-card__underline" />
                        <div class="shopping-card__footer">
                            <h3 class="shopping-card__price"> 1000 zł </h3>
                            <h5 class="shopping-card__discount"> 1250 zł </h5>
                        </div>
                    </div>
                    <div class="d-none d-md-block shopping-card__hidden-content">
                        <button class="shopping-card__cart-button"> Do koszyka </button>
                        <div class="shopping-card__additional-buttons">
                            <button class="shopping-card__additional-button"> Ulubiony </button>
                            <button class="shopping-card__additional-button"> Porównaj </button>
                        </div>
                    </div>
                    <button class="d-md-none d-block btn btn-info shopping-card__hidden-button">
                        Wybierz inny
                    </button>
                </div>
                <div class="d-none d-md-block shopping-card__gallery-column">
                    Gallery
                </div>
            </div>
        </div>

        <div class="shopping-card">
            <div class="shopping-card__content shopping-card__content--wider">
                <div class="shopping-card__main-column">
                    <div class="shopping-card__main-content">
                        <div class="shopping-card__banner">
                            Promocja
                        </div>
                        <img class="shopping-card__image" src="~/Content/Images/Shop/siodelko_1.jpg" />
                        <h6 class="shopping-card__subtitle"> DT Swiss </h6>
                        <h4 class="shopping-card__title"> Siodełko </h4>
                        <hr class="shopping-card__underline" />
                        <div class="shopping-card__footer">
                            <h3 class="shopping-card__price"> 1000 zł </h3>
                            <h5 class="shopping-card__discount"> 1250 zł </h5>
                        </div>
                    </div>
                    <div class="d-none d-md-block shopping-card__hidden-content">
                        <button class="shopping-card__cart-button"> Do koszyka </button>
                        <div class="shopping-card__additional-buttons">
                            <button class="shopping-card__additional-button"> Ulubiony </button>
                            <button class="shopping-card__additional-button"> Porównaj </button>
                        </div>
                    </div>
                    <button class="d-md-none d-block btn btn-info shopping-card__hidden-button">
                        Wybierz inny
                    </button>
                </div>
                <div class="d-none d-md-block shopping-card__gallery-column">
                    Gallery
                </div>
            </div>
        </div>

        <div class="shopping-card">
            <div class="shopping-card__content shopping-card__content--wider">
                <div class="shopping-card__main-column">
                    <div class="shopping-card__main-content">
                        <div class="shopping-card__banner">
                            Promocja
                        </div>
                        <img class="shopping-card__image" src="~/Content/Images/Shop/siodelko_1.jpg" />
                        <h6 class="shopping-card__subtitle"> DT Swiss </h6>
                        <h4 class="shopping-card__title"> Siodełko </h4>
                        <hr class="shopping-card__underline" />
                        <div class="shopping-card__footer">
                            <h3 class="shopping-card__price"> 1000 zł </h3>
                            <h5 class="shopping-card__discount"> 1250 zł </h5>
                        </div>
                    </div>
                    <div class="d-none d-md-block shopping-card__hidden-content">
                        <button class="shopping-card__cart-button"> Do koszyka </button>
                        <div class="shopping-card__additional-buttons">
                            <button class="shopping-card__additional-button"> Ulubiony </button>
                            <button class="shopping-card__additional-button"> Porównaj </button>
                        </div>
                    </div>
                    <button class="d-md-none d-block btn btn-info shopping-card__hidden-button">
                        Wybierz inny
                    </button>
                </div>
                <div class="d-none d-md-block shopping-card__gallery-column">
                    Gallery
                </div>
            </div>
        </div>
    </div>
</section>