
@{
    ViewBag.Title = "Shop";
    Layout = "~/Views/Shared/_ShopLayout.cshtml";

}
<section class="container-fluid d-flex p-0 m-0">
    <div class="d-flex flex-column container-fluid p-0 m-0">
        <nav class="container container--big" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Shop</a></li>
                <li class="breadcrumb-item active" aria-current="page">Kategoria</li>
            </ol>
        </nav>

        <div class="container-fluid m-0 p-0 m-auto">
            <div class="d-flex container container--big flex-lg-row flex-column px-lg-5">
                <div class="d-flex flex-column fill-even p-1">
                    <img src="~/Content/Images/Shop/siodelko_1.jpg" class="shop-gallery__main-image" />
                    <div class="d-flex flex-row w-100">
                        <img src="~/Content/Images/Shop/siodelko_1.jpg" class="float-left shop-gallery__subimage" />
                        <img src="~/Content/Images/Shop/siodelko_1.jpg" class="float-left shop-gallery__subimage" />
                        <img src="~/Content/Images/Shop/siodelko_1.jpg" class="float-left shop-gallery__subimage" />
                        <img src="~/Content/Images/Shop/siodelko_1.jpg" class="float-left shop-gallery__subimage" />
                    </div>
                </div>
                <div class="fill-even p-1">
                    <h3> Wybrór opcji produktu </h3>
                    <hr />
                    <form>
                        <label> Cecha 1: </label>
                        <br />
                        <select>
                            <option> Opcja A </option>
                            <option> Opcja B </option>
                            <option> Opcja C </option>
                            <option> Opcja D </option>
                        </select>
                        <br />
                        <br />
                        <label> Cecha 2: </label>
                        <br />
                        <label> Opcja A <input type="radio" name="color" value="A" /> </label>
                        <br />
                        <label> Opcja B <input type="radio" name="color" value="B" /> </label>
                        <br />
                        <label> Opcja C <input type="radio" name="color" value="C" /> </label>
                        <br />
                        <label> Opcja D <input type="radio" name="color" value="D" /> </label>
                    </form>
                </div>
            </div>
        </div>

        <div class="container-fluid bg-semi-light p-0 m-0 m-auto">
            <div class="container container--big px-lg-5">
                <h1> Pierwszy tytuł - Np. specyfikacja </h1>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus vel ipsum sit amet magna malesuada condimentum. Sed varius tellus porttitor malesuada gravida. Praesent feugiat aliquet pretium. Vestibulum tincidunt hendrerit erat, finibus vulputate elit pharetra quis. Nunc sodales sed nulla posuere tincidunt. Phasellus urna diam, faucibus a urna et, gravida gravida libero. Fusce molestie neque sed finibus suscipit. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam ligula quam, volutpat eu pellentesque ut, volutpat sit amet ipsum. Etiam magna ipsum, aliquam pharetra egestas at, commodo et odio.

                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. In pellentesque blandit condimentum. Donec vehicula ultrices nunc, ac elementum sapien facilisis a. Aliquam egestas aliquet lectus sit amet sodales. Morbi facilisis rutrum sapien interdum pellentesque. Aenean in facilisis nisi. Morbi accumsan vitae metus ut fringilla. Aliquam consectetur vulputate velit vitae vestibulum. Praesent tincidunt nisi ut lacus hendrerit sollicitudin ut et magna.

                    Aliquam ullamcorper ipsum ut enim bibendum, ut cursus eros condimentum. In hac habitasse platea dictumst. Integer sit amet tristique ipsum. Nullam hendrerit sed justo at bibendum. In sed congue ipsum, eget pharetra libero. Maecenas placerat volutpat dui luctus sagittis. Ut eget nunc ut leo tempus iaculis eu sed ex. Praesent scelerisque tortor ac libero auctor dapibus. Praesent congue quis est ac dictum. Donec nec ante odio. Nulla aliquam justo sed nisi ullamcorper, in euismod felis pretium. Nullam mollis dolor justo, quis volutpat ex tincidunt facilisis. Donec vulputate sem in lorem laoreet gravida. Proin consequat suscipit turpis, vitae congue purus accumsan eu. In sapien mauris, hendrerit consequat arcu sed, lacinia egestas ligula.
                </p>
                <h2> Drugi tytuł - Np. opis producenta </h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus vel ipsum sit amet magna malesuada condimentum. Sed varius tellus porttitor malesuada gravida. Praesent feugiat aliquet pretium. Vestibulum tincidunt hendrerit erat, finibus vulputate elit pharetra quis. Nunc sodales sed nulla posuere tincidunt. Phasellus urna diam, faucibus a urna et, gravida gravida libero. Fusce molestie neque sed finibus suscipit. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam ligula quam, volutpat eu pellentesque ut, volutpat sit amet ipsum. Etiam magna ipsum, aliquam pharetra egestas at, commodo et odio.

                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. In pellentesque blandit condimentum. Donec vehicula ultrices nunc, ac elementum sapien facilisis a. Aliquam egestas aliquet lectus sit amet sodales. Morbi facilisis rutrum sapien interdum pellentesque. Aenean in facilisis nisi. Morbi accumsan vitae metus ut fringilla. Aliquam consectetur vulputate velit vitae vestibulum. Praesent tincidunt nisi ut lacus hendrerit sollicitudin ut et magna.

                    Aliquam ullamcorper ipsum ut enim bibendum, ut cursus eros condimentum. In hac habitasse platea dictumst. Integer sit amet tristique ipsum. Nullam hendrerit sed justo at bibendum. In sed congue ipsum, eget pharetra libero. Maecenas placerat volutpat dui luctus sagittis. Ut eget nunc ut leo tempus iaculis eu sed ex. Praesent scelerisque tortor ac libero auctor dapibus. Praesent congue quis est ac dictum. Donec nec ante odio. Nulla aliquam justo sed nisi ullamcorper, in euismod felis pretium. Nullam mollis dolor justo, quis volutpat ex tincidunt facilisis. Donec vulputate sem in lorem laoreet gravida. Proin consequat suscipit turpis, vitae congue purus accumsan eu. In sapien mauris, hendrerit consequat arcu sed, lacinia egestas ligula.
                </p>
            </div>
        </div>

        <div class="container-fluid p-0 m-0 m-auto">
            <div class="d-flex container container--big flex-column px-lg-5">
                <div class="shop-opinion">
                    <div class="shop-opinion__header">
                        <h4> Tytuł </h4>
                        <div class="shop-opinion__header-mark">
                            Ocena 4/5: XXXX
                        </div>
                        <div class="shop-opinion__header-date">
                            2019-05-10
                        </div>
                    </div>
                    <hr />
                    <div class="shop-opinion__main-content">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. In pellentesque blandit condimentum. Donec vehicula ultrices nunc, ac elementum sapien facilisis a. Aliquam egestas aliquet lectus sit amet sodales. Morbi facilisis rutrum sapien interdum pellentesque. Aenean in facilisis nisi. Morbi accumsan vitae metus ut fringilla. Aliquam consectetur vulputate velit vitae vestibulum. Praesent tincidunt nisi ut lacus hendrerit sollicitudin ut et magna.
                        </p>
                        <p class="shop-opinion__advantages">
                            <span> Zalety: </span>
                            <ul>
                                <li> A </li>
                                <li> B </li>
                                <li> C </li>
                                <li> D </li>
                            </ul>
                        </p>
                        <p class="shop-opinion__disadvantages">
                            <span> Wady: </span>
                            <ul>
                                <li> A </li>
                                <li> B </li>
                                <li> C </li>
                                <li> D </li>
                            </ul>
                        </p>
                    </div>
                </div>

                <div class="shop-opinion">
                    <div class="shop-opinion__header">
                        <h4> Tytuł </h4>
                        <div class="shop-opinion__header-mark">
                            Ocena 4/5: XXXX
                        </div>
                        <div class="shop-opinion__header-date">
                            2019-05-10
                        </div>
                    </div>
                    <hr />
                    <div class="shop-opinion__main-content">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. In pellentesque blandit condimentum. Donec vehicula ultrices nunc, ac elementum sapien facilisis a. Aliquam egestas aliquet lectus sit amet sodales. Morbi facilisis rutrum sapien interdum pellentesque. Aenean in facilisis nisi. Morbi accumsan vitae metus ut fringilla. Aliquam consectetur vulputate velit vitae vestibulum. Praesent tincidunt nisi ut lacus hendrerit sollicitudin ut et magna.
                        </p>
                        <p class="shop-opinion__advantages">
                            <span> Zalety: </span>
                            <ul>
                                <li> A </li>
                                <li> B </li>
                                <li> C </li>
                                <li> D </li>
                            </ul>
                        </p>
                        <p class="shop-opinion__disadvantages">
                            <span> Wady: </span>
                            <ul>
                                <li> A </li>
                                <li> B </li>
                                <li> C </li>
                                <li> D </li>
                            </ul>
                        </p>
                    </div>
                </div>

                <div class="shop-opinion">
                    <div class="shop-opinion__header">
                        <h4> Tytuł </h4>
                        <div class="shop-opinion__header-mark">
                            Ocena 4/5: XXXX
                        </div>
                        <div class="shop-opinion__header-date">
                            2019-05-10
                        </div>
                    </div>
                    <hr />
                    <div class="shop-opinion__main-content">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. In pellentesque blandit condimentum. Donec vehicula ultrices nunc, ac elementum sapien facilisis a. Aliquam egestas aliquet lectus sit amet sodales. Morbi facilisis rutrum sapien interdum pellentesque. Aenean in facilisis nisi. Morbi accumsan vitae metus ut fringilla. Aliquam consectetur vulputate velit vitae vestibulum. Praesent tincidunt nisi ut lacus hendrerit sollicitudin ut et magna.
                        </p>
                        <p class="shop-opinion__advantages">
                            <span> Zalety: </span>
                            <ul>
                                <li> A </li>
                                <li> B </li>
                                <li> C </li>
                                <li> D </li>
                            </ul>
                        </p>
                        <p class="shop-opinion__disadvantages">
                            <span> Wady: </span>
                            <ul>
                                <li> A </li>
                                <li> B </li>
                                <li> C </li>
                                <li> D </li>
                            </ul>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>