
@{
    ViewBag.Title = "Shop";
    Layout = "~/Views/Shared/_ShopLayout.cshtml";

}
<nav class="container" aria-label="breadcrumb">
    <ol class="breadcrumb px-0">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item"><a href="#">Shop</a></li>
        <li class="breadcrumb-item active" aria-current="page">Kategoria</li>
    </ol>
</nav>

<div class="container-fluid p-0 m-0">
    <div class="d-flex flex-column container">
        <h2> Nazwa produktu </h2>
        <div class="d-flex flex-lg-row flex-column">
            <div class="d-flex flex-column product-left-column">
                <img src="~/Content/Images/Shop/siodelko_1.jpg" class="product__main-image" alt="mainimg" />

                <div class="d-md-flex flex-md-row d-none flex-wrap">
                    <img src="~/Content/Images/Shop/siodelko_1.jpg" class="product__sub-image product__sub-image--active" alt="subimg" />
                    <img src="~/Content/Images/Shop/siodelko_2.jpg" class="product__sub-image" alt="subimg" />
                </div>
            </div>
            <div class="d-flex flex-column fill-even product-right-column">
                <div class="d-flex flex-row">
                    <div class="product__badge-discount bg-dark text-white align-self-center"> -20% </div>
                    <div class="text-muted product__old-price align-self-center"> 600,00 zł </div>
                </div>
                <span class="text-size-big text-primary product__actual-price">
                    600,00 zł
                </span>
                <div class="d-flex flex-row mb-2">
                    <div class="d-flex flex-column mr-1">
                        <span class="product__option"> Kolor: </span>
                        <span class="product__option-text"> czarno-czer </span>
                    </div>

                    <div class="d-flex flex-row mr-3 flex-wrap">
                        <div class="product__option-choice-color" style=""></div>
                        <div class="product__option-choice-color" style="background: linear-gradient(to right, #ff0000 0% 50%, #feee22 50% 100%)"></div>
                        <div class="product__option-choice-color" style="background: linear-gradient(to right, #0000FF 0% 50%, #00FF00 50% 100%)"></div>
                    </div>
                </div>

                <div class="d-flex flex-row">
                    <div class="d-flex flex-column mr-3">
                        <span class="product__option"> Rozmiar: </span>
                    </div>

                    <div class="d-flex flex-row mr-1 flex-wrap">
                        <div class="product__option-choice-size product__option-choice-size--active">28.5cm</div>
                        <div class="product__option-choice-size">30cm</div>
                        <div class="product__option-choice-size">33cm</div>
                        <div class="product__option-choice-size">35cm</div>
                        <div class="product__option-choice-size">38cm</div>
                        <div class="product__option-choice-size">40cm</div>
                        <div class="product__option-choice-size">42cm</div>
                    </div>
                </div>

                <div class="d-flex flex-row">
                    <div class="d-flex flex-column mr-3">
                        <span class="product__option"> Długość: </span>
                    </div>

                    <div class="d-flex flex-row mr-1 flex-wrap">
                        <div class="product__option-choice-size product__option-choice-size--active">73.5cm</div>
                        <div class="product__option-choice-size">80cm</div>
                        <div class="product__option-choice-size">85cm</div>
                        <div class="product__option-choice-size">90cm</div>
                        <div class="product__option-choice-size">100cm</div>
                        <div class="product__option-choice-size">110cm</div>
                        <div class="product__option-choice-size">120cm</div>
                    </div>
                </div>

                <hr class="w-100 text-primary" />

                <div class="d-flex flex-column flex-md-row flex-lg-column justify-content-between">
                    <div class="d-flex fill-even justify-content-between mb-3">
                        <span class="product__option">Dostępność: </span>
                        <span class="product__option product__option--green-text">W magazynie (7 sztuk)</span>
                    </div>
                    <div class="d-flex fill-even justify-content-between justify-content-md-end justify-content-lg-between mb-3">
                        <span class="product__option">Ilość: </span>
                        <form action="">
                            <select>
                                <option>1 szt.</option>
                                <option>2 szt.</option>
                                <option>3 szt.</option>
                                <option>4 szt.</option>
                            </select>
                        </form>
                    </div>
                </div>

                <div class="d-flex flex-column flex-md-row flex-lg-column justify-content-between">
                    <div class="d-flex flex-row fill-even mb-3">
                        <span class="product__option">Opcje: </span>
                        <ul class="product__option-summary">
                            <li>Kolor: czerwony</li>
                            <li>Rozmiar: 42</li>
                            <li>Długość: 110cm</li>
                        </ul>
                    </div>
                    <div class="d-flex flex-row fill-even mb-3 justify-content-between align-self-auto align-self-md-end align-self-lg-auto">
                        <p class="product__option">Cena: <span class="product__final-price">600,00zł</span></p>
                        <form class="">
                            <label for="compare"><input id="compare" value="true" type="checkbox" /> Porównaj</label>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid p-0 m-0 bg-semi-light">
        <div class="container product__tabs">
            <input type="radio" name="tabs" id="details" checked="checked">
            <label for="details"> Opis </label>
            <div data-id="details" class="product__single-tab">
                <p> Opis produktu (od producenta) </p>
            </div>

            <input type="radio" name="tabs" id="specification">
            <label for="specification"> Specyfikacja </label>
            <div data-id="specification" class="product__single-tab">
                <p> Specyfikacja od producenta </p>
            </div>

            <input type="radio" name="tabs" id="opinions">
            <label for="opinions"> Opinie </label>
            <div data-id="opinions" class="product__single-tab">
                <p> Opinie od uzytkownikow </p>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    @Scripts.Render("~/Scripts/Shop/product-accortion-tabs.js")
}