
@{
    ViewBag.Title = "Sign up";
    Layout = "~/Views/Shared/_EntranceLayout.cshtml";
}
    <section>
        <h2>@ViewBag.Title</h2>

        <div id="">
            <p> AAAAAA </p>
        </div>
    </section>

