@model List<bikevision.Models.ComparationViewModel>
@{
    ViewBag.Title = "Porównanie";
    Layout = "~/Views/Shared/_ShopLayout.cshtml";
}

<section class="container py-2 my-2 flex-fill">
    <h2> Porównanie przedmiotów </h2>
    <hr />

    @if (Model != null)
    {
        <section class="comparation-container d-flex row m-0 p-0 justify-content-between flex-nowrap">
            @foreach (var item in Model)
            {
                @Html.Partial("_ItemInComparation", item);
            }
        </section>
    }
    else
    {
        <p class="h4"> Nie dodałeś jeszcze żadnych przedmiotów do porównania. </p>
    }

</section>

@section scripts
{
    @Scripts.Render("~/Scripts/Shop/comparation-differences.js")
}