@model List<bikevision.Models.Item>

@{
    ViewBag.Title = "Lista produktów";
    Layout = "~/Views/Shared/_ShopLayout.cshtml";
}

<div class="container-fluid bg-semi-light m-0 p-0">
    <div class="container container--big d-flex flex-column">
        <!-- content <-- own BEM class -->
        <nav class="py-2" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Shop</a></li>
                <li class="breadcrumb-item active" aria-current="page">Kategoria</li>
            </ol>
        </nav>

        <div class="d-flex flex-row justify-content-between">
            <h3 class="align-self-baseline">
                @if (ViewBag.keyword == "" || ViewBag.keyword == null)
                {
                    <span>Aktualna kategoria</span>
                }
                else
                {
                    <span>Produkty zawierające frazę &ldquo;@ViewBag.keyword&rdquo;</span>
                }
            </h3>
            <h5 class="ml-2 align-self-baseline">Liczba produktow</h5>
        </div>

        <div class="d-flex flex-row my-1 overlay">
            <div class=" d-lg-flex flex-column left-column bg-semi-light">
                <div class="card">
                    <article class="card-group-item">
                        <header class="card-header"><h6 class="title">Similar category </h6></header>
                        <div class="filter-content">
                            <div class="list-group list-group-flush">
                                <a href="#" class="list-group-item">Cras justo odio <span class="float-right badge badge-light round">142</span> </a>
                                <a href="#" class="list-group-item">Dapibus ac facilisis  <span class="float-right badge badge-light round">3</span>  </a>
                                <a href="#" class="list-group-item">Morbi leo risus <span class="float-right badge badge-light round">32</span>  </a>
                                <a href="#" class="list-group-item">Another item <span class="float-right badge badge-light round">12</span>  </a>
                            </div>  <!-- list-group .// -->
                        </div>
                    </article> <!-- card-group-item.// -->

                    <article class="card-group-item">
                        <header class="card-header">
                            <h6 class="title">Choose type </h6>
                        </header>
                        <div class="filter-content">
                            <div class="card-body">
                                <label class="form-check">
                                    <input class="form-check-input" type="radio" name="exampleRadio" value="">
                                    <span class="form-check-label">
                                        First hand items
                                    </span>
                                </label>
                                <label class="form-check">
                                    <input class="form-check-input" type="radio" name="exampleRadio" value="">
                                    <span class="form-check-label">
                                        Brand new items
                                    </span>
                                </label>
                                <label class="form-check">
                                    <input class="form-check-input" type="radio" name="exampleRadio" value="">
                                    <span class="form-check-label">
                                        Some other option
                                    </span>
                                </label>
                            </div> <!-- card-body.// -->
                        </div>
                    </article> <!-- card-group-item.// -->

                    <article class="card-group-item">
                        <header class="card-header">
                            <h6 class="title">Brands </h6>
                        </header>
                        <div class="filter-content">
                            <div class="card-body">
                                <form>
                                    <label class="form-check">
                                        <input class="form-check-input" type="checkbox" value="">
                                        <span class="form-check-label">
                                            Mersedes Benz
                                        </span>
                                    </label> <!-- form-check.// -->
                                    <label class="form-check">
                                        <input class="form-check-input" type="checkbox" value="">
                                        <span class="form-check-label">
                                            Nissan Altima
                                        </span>
                                    </label>  <!-- form-check.// -->
                                    <label class="form-check">
                                        <input class="form-check-input" type="checkbox" value="">
                                        <span class="form-check-label">
                                            Another Brand
                                        </span>
                                    </label>  <!-- form-check.// -->
                                </form>

                            </div> <!-- card-body.// -->
                        </div>
                    </article> <!-- card-group-item.// -->
                    <article class="card-group-item">
                        <header class="card-header"><h6 class="title">Color check</h6></header>
                        <div class="filter-content">
                            <div class="card-body">
                                <label class="btn btn-danger">
                                    <input class="" type="checkbox" name="myradio" value="">
                                    <span class="form-check-label">Red</span>
                                </label>
                                <label class="btn btn-success">
                                    <input class="" type="checkbox" name="myradio" value="">
                                    <span class="form-check-label">Green</span>
                                </label>
                                <label class="btn btn-primary">
                                    <input class="" type="checkbox" name="myradio" value="">
                                    <span class="form-check-label">Blue</span>
                                </label>
                            </div> <!-- card-body.// -->
                        </div>
                    </article> <!-- card-group-item.// -->
                    <article class="card-group-item">
                        <header class="card-header">
                            <h6 class="title">Range input </h6>
                        </header>
                        <div class="filter-content">
                            <div class="card-body">
                                <div class="form-row">
                                    <div class="form-group col-lg-6">
                                        <label>Min</label>
                                        <input type="number" class="form-control" id="inputEmail4" placeholder="$0">
                                    </div>
                                    <div class="form-group col-lg-6 text-right">
                                        <label>Max</label>
                                        <input type="number" class="form-control" placeholder="$1,0000">
                                    </div>
                                </div>
                            </div> <!-- card-body.// -->
                        </div>
                    </article> <!-- card-group-item.// -->

                    <article class="card-group-item">
                        <header class="card-header">
                            <h6 class="title">Selection </h6>
                        </header>
                        <div class="filter-content">
                            <div class="card-body">
                                <div class="custom-control custom-checkbox">
                                    <span class="float-right badge badge-light round">52</span>
                                    <input type="checkbox" class="custom-control-input" id="Check1">
                                    <label class="custom-control-label" for="Check1">Samsung</label>
                                </div> <!-- form-check.// -->

                                <div class="custom-control custom-checkbox">
                                    <span class="float-right badge badge-light round">132</span>
                                    <input type="checkbox" class="custom-control-input" id="Check2">
                                    <label class="custom-control-label" for="Check2">Black berry</label>
                                </div> <!-- form-check.// -->

                                <div class="custom-control custom-checkbox">
                                    <span class="float-right badge badge-light round">17</span>
                                    <input type="checkbox" class="custom-control-input" id="Check3">
                                    <label class="custom-control-label" for="Check3">Samsung</label>
                                </div> <!-- form-check.// -->

                                <div class="custom-control custom-checkbox">
                                    <span class="float-right badge badge-light round">7</span>
                                    <input type="checkbox" class="custom-control-input" id="Check4">
                                    <label class="custom-control-label" for="Check4">Other Brand</label>
                                </div> <!-- form-check.// -->
                            </div> <!-- card-body.// -->
                        </div>
                    </article>
                </div>
            </div>

            <div class="d-flex flex-column right-column">
                <div class="d-flex flex-row justify-content-between">
                    <div class="btn-group ml-1" role="group" aria-label="Basic example">
                        <button type="button" id="gridButton" class="btn btn-primary active"><i class="fas fa-th-large mr-2"></i>Siatka</button>
                        <button type="button" id="listButton" class="btn btn-primary"><i class="fas fa-list mr-2"></i>Lista</button>
                    </div>
                    <div class="p-1">
                        <span> Sortuj: </span>
                        <select>
                            <option> Cena /\ </option>
                            <option> Cena \/ </option>
                            <option> Alfabetycznie A-Z </option>
                            <option> Alfabetycznie Z-A </option>
                            <option> Ocena klientów /\ </option>
                        </select>
                    </div>
                </div>

                <div class="d-flex flex-row flex-wrap">
                    @if (Model.Count() > 0)
                    {
                        foreach (var product in Model)
                        {
                            @Html.Partial("_ProductCard", product)
                        }
                    }
                    else
                    {
                        <p class="h3 p-2"> Brak produktów spełniających podane wymagania </p>
                    }
                </div>

                <nav class="d-block flex-row mt-2 mx-auto">
                    <ul class="pagination">
                        <li class="page-item disabled">
                            <a class="page-link" href="#">&laquo;</a>
                        </li>
                        <li class="page-item active">
                            <a class="page-link" href="#">1</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#">2</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#">3</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#">4</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#">5</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#">&raquo;</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>

        <button class="d-block d-lg-none floating-button align-text-bottom" onclick="showFilters()"> <i class="fas fa-filter"></i> Filtruj </button>
    </div>
</div>

@section scripts
{
    @Scripts.Render("~/Scripts/Shop/hidden-filters.js")
    @Scripts.Render("~/Scripts/Shop/list-grid-view.js")
}