
@{
    ViewBag.Title = "ShoppingCart";
    Layout = "~/Views/Shared/_ShopLayout.cshtml";
}

<h2> Koszyk </h2>

<section class="container my-3">
    <header class="row bg-semi-light">
        <div class="col-1">
            Number
        </div>
        <div class="col-8">
            Item
        </div>
        <div class="col-1">
            Price
        </div>
        <div class="col-1">
            Quantity
        </div>
        <div class="col-1">
            Usuń
        </div>
    </header>

    <article class="row shopping-cart__item">
        <div class="col-1">
            1
        </div>
        <div class="col-8 row mx-0 p-0">
            <div class="col-2">
                Zdjecie
            </div>
            <div class="col-10">
                Opis
            </div>
        </div>
        <div class="col-1">
            120zł
        </div>
        <div class="col-1">
            <button>+</button>
            <span> 1 </span>
            <button>-</button>
        </div>
        <div class="col-1">
            <button>Remove</button>
        </div>
    </article>
</section>